@import "./_variables";

body {
  font-family: $font-pragmatica; //font-size: $base-font-size;
  font-weight: $font-weight-normal;
  font-style: normal;
  background: $right-side-background;

  .lightboxOverlay {
    width: 100% !important;
  }

  .lightbox {
    .lb-closeContainer {
      position: fixed;
      top: 1rem;
      right: 1rem;
    }
  }

  a {
    text-decoration: none !important;
    outline: none;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .small-modal {
    .modal-dialog {
      max-width: 400px !important;
      margin: auto;
    }
  }

  .medium-modal {
    .modal-dialog {
      max-width: 460px !important;
      margin: auto;
    }
  }

  .upper-medium-modal {
    .modal-dialog {
      max-width: 700px !important;
      margin: auto;
    }
  }

  .carge-detail {
    .modal-dialog {
      max-width: 494px;
    }
  }

  .upper-medium-modal-history {
    .modal-dialog {
      max-width: 500px !important;
      margin: auto;
    }
  }

  .large-modal {
    .modal-dialog {
      max-width: 1070px;
    }
  }

  // Toast Styles
  .alert-warning {
    background: $alert-warning--background-color;
    color: $text-color-default;
    padding: 0.75rem 0.87rem;
    border: 1px solid $default-yellow;

    p {
      margin: 0;
      color: $text-color-default;
      font-size: $font-size-medium;
      font-family: $font-proxima;
      font-weight: $font-weight-normal;
    }
  }

  .alert-secondary {
    background: $secondary-light-color;
    color: $text-color-default;
    padding: 0.75rem 0.87rem;
    border: 1px solid $secondary-color;

    p {
      margin: 0;
      color: $text-color-default;
      font-size: $font-size-medium;
      font-family: $font-proxima;
      font-weight: $font-weight-normal;
    }
  }

  .container {
    max-width: 1390px;
  }

  app-pages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    main {
      flex: auto;
      flex-shrink: 0;
    }

    app-header {
      flex-shrink: 0;
    }

    app-footer {
      flex-shrink: 0;
    }
  }

  app-cookie-bar {
    &.hidePopup {
      display: none !important;
    }

    .cookie-law-info-bar {
      &.hidePopup {
        display: none;
      }
    }
  }

  //hr
  .hr-solid {
    margin-top: 0.5rem;
    position: relative;
    width: 100%;

    &:before {
      content: " ";
      background: $hr-border-color;
      height: 2px;
      position: absolute;
      width: 100%;
      margin-top: 0px;
    }
  }

  a.grey-anc-btn {
    color: $color-topmenu !important;
    font-size: 0.75rem;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }

  // link Hover
  .link-hover {
    transition: all 0.5s ease;
    position: relative;

    &:-moz-focusring {
      border: none;
      box-shadow: none;
      outline: none;
    }

    &:after {
      content: "";
      position: absolute;
      transition: transform 0.5s ease;
      transform: scaleX(0);
    }

    &:hover {
      text-decoration: none;

      &:after {
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background: darken($primary-color, 3%);
        transform: scaleX(1);
        transition: transform 0.5s ease;
      }
    }
  }

  .link-hover-secondary {
    @extend .link-hover;

    &:hover {
      &:after {
        background: darken($secondary-color, 3%); // transform: scaleX(1);
      }
    }
  }

  .link-hover-danger {
    @extend .link-hover;

    &:hover {
      &:after {
        background: darken($danger-color, 3%); // transform: scaleX(1);
      }
    }
  }

  .link-hover-grey {
    @extend .link-hover;

    &:hover {
      &:after {
        background: darken($color-topmenu, 3%); // transform: scaleX(1);
      }
    }
  }

  .link-hover-black {
    @extend .link-hover;

    &:hover {
      &:after {
        background: darken($route-large-title-color, 3%); // transform: scaleX(1);
      }
    }
  }

  // Pointer
  .pointer {
    cursor: pointer;
  }

  /* from user portal */
  .hvr-sweep-to-right.btn-primary {
    &:before {
      background: $btn-bg-primary !important;
      border-color: $btn-bg-primary !important;
      color: $color-white; //color: $secondary-color !important;
    }

    &:hover {
      //color: $secondary-color !important; //font-weight: $font-weight-mid;
      color: $color-white !important;
    }

    &:focus {
      //color: $secondary-color !important; //font-weight: $font-weight-mid;
      color: $color-white !important;
    }

    &.disable {
      background-color: #e1e5e9 !important;
      border-color: #e1e5e9 !important;
      color: $color-topmenu !important;

      &:hover {
        color: $white-color !important;
        border-color: $btn-bg-primary !important;

      }
    }
  }

  .hvr-sweep-to-right.btn-danger {
    &:before {
      background: $btn-bg-danger; // color: $danger-color !important;
    }

    &:hover {
      // color: $danger-color !important; //font-weight: $font-weight-mid;
      background: $btn-bg-danger;
    }

    &:focus {
      // color: $danger-color !important; //font-weight: $font-weight-mid;
      background: $btn-bg-danger;
    }
  }

  .hvr-sweep-to-right.btn-outline-primary {
    &:before {
      background: $secondary-color;
      color: $white-color !important;
    }

    &:focus {
      background: $secondary-color;
      color: $white-color !important;
    }
  }

  .hvr-sweep-to-right.btn-outline-danger {
    &:before {
      background: #dc3545;
      color: $white-color !important;
    }

    &:focus {
      background: #dc3545;
      color: $white-color !important;
    }
  }

  // Btn scss or hover effect
  .btn {
    transition: all 0.5s ease;
    font-size: $base-font-size;
    font-family: $font-proxima;
    border-radius: 3px;
    font-weight: 400;

    &:hover {
      box-shadow: 0 12px 20px -12px rgba(98, 100, 101, 0.95) !important;
    }

    &-primary {
      background-color: $secondary-color !important;
      border-color: $secondary-color;

      &:hover,
      &:focus,
      &:active,
      &.focus,
      &:not(:disabled):not(.disabled):active {
        background-color: darken($secondary-color, 0.8);
        border-color: darken($secondary-color, 0.8);
        box-shadow: 0px 0px 0px;
      }
    }

    &-outline-primary {
      color: $secondary-color !important;
      border-color: $secondary-color;

      &:disabled {
        color: $dropdown-shipping;
      }

      &:hover,
      &:active,
      &:focus,
      &:not(:disabled):not(.disabled):active {
        color: $white-color !important;
        background-color: $secondary-color;
        border-color: $secondary-color;
        box-shadow: 0px 0px 0px;
      }
    }

    &:disabled {
      cursor: not-allowed;
      border: 1px solid $btn-disable-background;
      background: $btn-disable-background !important;
      color: $color-topmenu !important;

      &:before {
        background: none !important;
        color: $color-topmenu !important;
        box-shadow: 0px 0px 0px !important;
      }

      &:hover {
        box-shadow: 0px 0px 0px !important;
        color: $color-topmenu !important;
      }
    }
  }

  // generic styling on typehead
  ngb-typeahead-window {
    animation: bottomToTop 1s ease-in-out;

    &.dropdown-menu {
      padding: 0rem;
      display: block;
      border: 1px solid $primary-color;

      &.show {
        max-height: 260px;
        overflow-y: auto;
      }

      .dropdown-item {
        display: flex;

        .flag-container {
          width: 15px;
          height: 12px;
          margin-right: 10px !important;

          img {
            width: 16px;
            height: 12px;
            border: 1px solid $primary-grey;
          }
        }

        &.active {
          background: $primary-grey;
        }

      }
    }

  }
}


// icon size base class
.icon-size-12 {
  width: 12px !important;
  height: 12px !important;
}

.icon-size-14 {
  width: 14px !important;
  height: 14px !important;
}

.icon-size-16 {
  width: 16px !important;
  height: 16px !important;
}

.icon-size-24 {
  width: 24px !important;
  height: 24px !important;
}

.icon-size-20 {
  width: 20px !important;
  height: 20px !important;
}

.icon-size-22-14 {
  width: 22px !important;
  height: 14px !important;
}

.icon-size-18-12 {
  width: 18px !important;
  height: 12px !important;
}

.flag-icon-20-12 {
  width: 20px !important;
  height: 12px !important;

  img {
    width: 100%;
    height: 100%;
  }
}

/*--  Checkbox Start  --*/

.fancyOptionBoxes {

  input[type="radio"],
  input[type="checkbox"] {
    height: 0;
    width: 0;
    display: none;
  }

  input[type="radio"]+label,
  input[type="checkbox"]+label {
    font-size: $font-size-medium;
    font-family: $font-proxima;
    color: $text-color-default;
    font-weight: $font-weight-normal;
    position: relative;
    cursor: pointer;
    display: flex;
    margin: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);

    span {
      width: 20px;
      height: 20px;
      border: 0;
      display: flex;
      border-radius: 2px;
      align-items: center;
      margin-right: 0.58em;
      background: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-white', endColorstr='$pagination-bg-color', GradientType=0);
      /* IE6-9 */
      box-shadow: inset 0px 1px 1px 0px rgba(24, 23, 24, 0.07);

      &:after {
        border-radius: 2px !important;
        border: 2px;
        width: 12px;
        height: 12px;
        background-color: rgb(237, 239, 240);
        box-shadow: inset 0px 1px 3px 0px rgba(24, 23, 24, 0.23);
      }
    }
  }

  input[type="radio"]:checked+label,
  input[type="checkbox"]:checked+label {
    font-size: $font-size-medium; // font-family: $font-proxima;
    color: $text-color-default;
    font-weight: $font-weight-normal;

    span {
      width: 20px;
      height: 20px;
      border: 0;
      border-radius: 2px; // background-image: -moz-linear-gradient( 90deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      // background-image: -webkit-linear-gradient( 90deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      // background-image: -ms-linear-gradient( 90deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      background: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white-color', endColorstr='$pagination-bg-color', GradientType=0);
      /* IE6-9 */
      box-shadow: inset 0px 1px 1px 0px rgba(24, 23, 24, 0.07);

      &:after {
        border-radius: 2px !important;
        border: 0 !important;
        width: 12px;
        height: 12px; // background-image: -moz-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
        // background-image: -webkit-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
        // background-image: -ms-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35), inset 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
        background: -moz-linear-gradient(top, rgb(30, 172, 227) 0%, rgb(42, 150, 218) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgb(30, 172, 227) 0%, rgb(42, 150, 218) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(top, rgb(30, 172, 227) 0%, rgb(42, 150, 218) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white-color', endColorstr='$pagination-bg-color', GradientType=0);
        background-color: $checkboxes-border-color;
      }
    }
  }
}

input[type="radio"]+label span::after,
input[type="checkbox"]+label span::after {
  content: "";
  width: 17px;
  height: 17px;
  border: 2px solid #cccfd0;
  border-radius: 4px;
  margin: 0 4px;
}

input[type="radio"]+label:hover>span,
input[type="checkbox"]+label:hover>span,
input[type="radio"]:focus+label>span,
input[type="checkbox"]:focus+label>span {
  background: rgba(255, 255, 255, 0.1);
}

.fancyOptionBoxes {

  input[type="radio"],
  input[type="checkbox"] {
    height: 0;
    width: 0;
    display: none;
  }

  input[type="radio"]+label,
  input[type="checkbox"]+label {
    font-size: $font-size-medium;
    font-family: $font-proxima;
    color: $text-color-default;
    font-weight: $font-weight-normal;
    position: relative;
    cursor: pointer;
    display: flex;
    margin: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);

    span {
      width: 20px;
      height: 20px;
      border: 0;
      display: flex;
      border-radius: 2px;
      align-items: center;
      margin-right: 0.58em;
      background: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white-color', endColorstr='$pagination-bg-color', GradientType=0);
      /* IE6-9 */
      box-shadow: inset 0px 1px 1px 0px rgba(24, 23, 24, 0.07);

      &:after {
        border-radius: 2px !important;
        border: 2px;
        width: 12px;
        height: 12px;
        background-color: rgb(237, 239, 240);
        box-shadow: inset 0px 1px 3px 0px rgba(24, 23, 24, 0.23);
      }
    }
  }

  input[type="radio"]:checked+label,
  input[type="checkbox"]:checked+label {
    font-size: $font-size-medium; // font-family: $font-proxima;
    color: $text-color-default;
    font-weight: $font-weight-normal;

    span {
      width: 20px;
      height: 20px;
      border: 0;
      border-radius: 2px; // background-image: -moz-linear-gradient( 90deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      // background-image: -webkit-linear-gradient( 90deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      // background-image: -ms-linear-gradient( 90deg, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      background: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white-color', endColorstr='$pagination-bg-color', GradientType=0);
      /* IE6-9 */
      box-shadow: inset 0px 1px 1px 0px rgba(24, 23, 24, 0.07);

      &:after {
        border-radius: 2px !important;
        border: 0 !important;
        width: 12px;
        height: 12px; // background-image: -moz-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
        // background-image: -webkit-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
        // background-image: -ms-linear-gradient( 90deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.35), inset 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
        background: -moz-linear-gradient(top, rgb(30, 172, 227) 0%, rgb(42, 150, 218) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgb(30, 172, 227) 0%, rgb(42, 150, 218) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(top, rgb(30, 172, 227) 0%, rgb(42, 150, 218) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$white-color', endColorstr='$pagination-bg-color', GradientType=0);
        background-color: $checkboxes-border-color;
      }
    }
  }
}

input[type="radio"]+label span::after,
input[type="checkbox"]+label span::after {
  content: "";
  width: 17px;
  height: 17px;
  border: 2px solid #cccfd0;
  border-radius: 4px;
  margin: 0 4px;
}

input[type="radio"]+label:hover>span,
input[type="checkbox"]+label:hover>span,
input[type="radio"]:focus+label>span,
input[type="checkbox"]:focus+label>span {
  background: rgba(255, 255, 255, 0.1);
}

.switch-box {
  ui-switch {
    float: left;
    margin-right: 12px;
    background-image: -ms-linear-gradient(90deg, $white-color 0, $pagination-bg-color 100%);
    -webkit-box-shadow: inset 1px 2px 2px 2px rgba(24, 23, 24, 0.07);
    box-shadow: inset 1px 2px 2px 2px rgba(24, 23, 24, 0.07);
    width: 48px;
    height: 23px;
    padding: 3px;
    border-radius: 12px;

    .switch {
      background-color: $theme-border-grey !important;
      width: 40px;
      height: 16px;
      background: -ms-linear-gradient(90deg, $white-color 0, $pagination-bg-color 100%);
      -webkit-box-shadow: inset 0 1px 3px 1px rgba(24, 23, 24, 0.07);
      box-shadow: inset 0 1px 3px 1px rgba(24, 23, 24, 0.07);

      &.checked {
        background: $secondary-color !important;
        -webkit-box-shadow: inset 0 1px 2px 0 rgba(24, 23, 24, 0.45);
        box-shadow: inset 0 1px 2px 0 rgba(24, 23, 24, 0.45);

        small {
          left: 25px !important;
        }
      }

      small {
        width: 15px !important;
        height: 15px !important;
        border-radius: 50%;
        -webkit-box-shadow: 0 4px 7px 0 rgba(24, 23, 24, 0.2);
        box-shadow: 0 4px 7px 0 rgba(24, 23, 24, 0.2);
        background: $white-color !important;
        background: radial-gradient(circle, $white-color 2%, #f2f2f2 100%) !important;
      }
    }
  }
}

/*-- generic Inputs  --*/

// .form-row {
.form-group {
  margin-bottom: 0.5rem;

  label {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: $font-proxima;
    font-size: $font-size-large;
    font-weight: $font-weight-normal;
    color: $text-color-default;

    small {
      margin: 0 10px;
    }
  }

  input {
    outline: 0;
    border-radius: 4px !important;
    line-height: 3 !important;
    height: 3rem;
    border: 1px solid $provider-input-border;

    &::placeholder {
      color: $place-holder-color;
      opacity: 1;
      font-family: $font-proxima;
      font-size: 14px;
    }

    &::-ms-input-placeholder {
      color: $place-holder-color;
      font-family: $font-proxima;
    }

    &::-webkit-input-placeholder {
      color: $place-holder-color;
      font-family: $font-proxima;
    }

    &.inputError {
      box-shadow: inset 0px 0px 0px 1px $danger-color !important;
    }

    &.inputErrorRemove {
      border: 1px solid $provider-input-border;
    }

    &:focus {
      box-shadow: none !important;
    }

    &:-moz-focusring {
      box-shadow: none;
    }

    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }

    &.password {
      padding-right: 40px;
    }

    &.input-dropdown {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-right: 1px solid $input-border;
    }

    &[type="time"] {
      line-height: 2 !important;
    }
  }

  select {
    height: 3rem;
    border: 1px solid $provider-input-border;
    border-radius: 4px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: url("assets/images/select-arrow.png") no-repeat center right 10px $color-white;
    padding-right: 25px;

    @media (max-width: $screen-fourteen-hundred) {
      font-size: 0.8rem;
    }

    &.inputError {
      border: 1px solid $danger-color;
    }

    &.inputErrorRemove {
      border: 1px solid $provider-input-border;
    }

    &::-ms-expand {
      display: none;
    }

    &:-moz-focusring {
      border: none;
      box-shadow: none;
    }

    &:focus {
      box-shadow: none !important;
      border: 1px solid $form-control-focus !important;
      outline: 0;
    }

    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }
  }

  textarea {
    border: 1px solid $provider-input-border;
    border-radius: 4px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;

    &:focus {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }

    &::placeholder {
      color: $place-holder-color;
      opacity: 1;
      font-family: $font-proxima;
      font-size: 14px;
    }

    &.inputError {
      box-shadow: 0px 0px 0px 1px $danger-color !important;
      margin-left: 1px;
    }
  }

  // direction RTL
  &.dir-otherLanguage {
    direction: rtl;

    label {
      font-family: $font-NeoSansArabic-Regular !important;
      float: right;
      text-align: right;
    }

    input {
      font-family: $font-NeoSansArabic-Regular;

      &.select-country-code {
        font-family: $font-pragmatica;
      }

      &::placeholder {
        font-family: $font-NeoSansArabic-Regular;
      }

      &:-ms-input-placeholder {
        font-family: $font-NeoSansArabic-Regular;
      }

      &:-webkit-input-placeholder {
        font-family: $font-NeoSansArabic-Regular;
      }
    }

    .select-number {
      input {
        &::placeholder {
          font-family: $font-proxima;
          font-size: $font-size-large + 0.15rem;
        }

        &:-ms-input-placeholder {
          font-family: $font-proxima;
          font-size: $font-size-large + 0.15rem;
        }

        &::-ms-input-placeholder {
          font-family: $font-proxima;
          font-size: $font-size-large + 0.15rem;
        }

        &::-webkit-input-placeholder {
          font-family: $font-proxima;
          font-size: $font-size-large + 0.15rem;
        }
      }
    }

    select {
      font-family: $font-NeoSansArabic-Regular;
      background-position: center left 10px;
    }

    .select-number {
      .dropdown {
        top: 12px;

        .country-section {
          &.dropdown-menu {
            padding: 0;
            right: -19px !important;

            ul {
              li {
                .flag-container {
                  width: 16px;
                  height: 12px;
                  float: right;
                  margin-left: 9px;
                  margin-right: 0px;
                  text-align: right;

                  img {
                    border: 1px solid $primary-grey;
                  }
                }

                span {
                  direction: ltr;
                  display: inline-block;
                }
              }
            }
          }
        }

        .dropdown-toggle {
          span {
            direction: ltr;
            font-family: $font-proxima;
            font-size: $root-font-size;
            font-weight: $font-weight-mid;
            margin: 0;
            line-height: 1.8;
          }

          .flag-container {
            float: right;
            margin-left: 9px;
            margin-right: 0px;
          }
        }
      }

      .select-country-code {
        font-size: $root-font-size !important;
      }

      input {
        padding-top: 12px !important;
      }
    }

    p.inputError {
      text-align: right;
    }
  }

  p.inputError {
    line-height: 1;
    margin-top: 0.5rem;
    color: $danger-color;
    font-size: $font-size-medium - 0.025;
    margin-bottom: 0;
  }

  .input-group-prepend,
  .input-group-append {
    margin-right: -3px;
    z-index: 4;

    .input-group-text {
      padding: 0;
      font-size: $font-size-medium !important;
      font-family: $font-proxima;
      color: $text-color-default !important;

      select {
        border: 0px;
        background-color: transparent;
        height: auto;
        padding: 5px 20px 5px 10px;
        font-size: $font-size-medium !important;
        color: $text-color-default !important;

        &:focus {
          border: 0 !important;
        }
      }
    }
  }

  .input-group-append {
    margin-left: -2px;
    z-index: 9;
  }

  .select-number {
    .input-group-prepend {
      background: $color-white;
      border-radius: 4px;
      border: 1px solid $provider-input-border;
      position: relative;
      margin-right: -1px;
      z-index: auto;

      .social-link-field {
        .social-place-label {
          position: absolute;
          left: 48px;
          top: 5px;
          font-family: inherit;
          color: $place-holder-color;
          width: auto;
          z-index: 0;
        }

        input.select-country-code {
          padding-left: 1rem;
          z-index: 1;
          position: relative;
          width: 100%;
        }
      }

      input.select-country-code {
        background: none;
        border: none;
        width: 65%;
        padding-left: 34px;
        font-size: 0.875rem;
        padding-top: 8px;
      }

      .select-country-list {
        margin-left: 19px;

        &.website {
          .country-section {
            top: auto !important;
            bottom: 62px;
          }

          .dropdown-toggle {
            &::after {
              border-top: 0;
              border-bottom: .3em solid;
            }
          }
        }
      }

      .phone {
        span {
          font-size: $font-size-medium;
        }
      }

      .country-section {
        border: 0px;
        top: 36px !important;
        left: -21px !important;
        background: transparent;

        ul {
          border: 1px solid $provider-input-border;
          max-height: 200px;
          overflow-y: scroll;
          z-index: 9999999;
          position: relative;

          li.list-group-item {
            padding-top: 0.45rem;
            padding-bottom: 0.45rem;
            border: none;
            cursor: pointer;
            z-index: 9999999;
            display: inline-block;

            img {
              border: 1px solid $grey-border;
            }

            &:hover {
              background: $dropdown-color;
            }
          }
        }


      }

      &.inputError {
        // border: 1px solid $danger-color !important;
        box-shadow: inset 0px 0px 0px 1px $danger-color !important;
      }
    }

    .input-group-append {
      width: 100%;
      position: relative;
      @extend .input-group-prepend;

      input[type="text"] {
        padding-left: 0.75rem;
        padding-right: 34px;
      }

      img {
        margin-right: 0px;
        margin-left: 5px;
      }

      .dropdown {
        margin-left: 0;
        margin-right: 19px;
        top: 12px;
      }

      .country-section {
        left: 0 !important;
        right: -12px !important;

        ul {
          padding-right: 0;
        }
      }

      .select-country-list {
        .dropdown-toggle {
          &:after {
            right: auto;
            left: -19px;
          }
        }
      }

      &.inputError {
        // border: 1px solid $danger-color !important;
        box-shadow: inset 0px 0px 0px 1px $danger-color !important;
      }
    }

    .dropdown {
      top: 12px;

      .country-section {
        &.dropdown-menu {
          padding: 0;

          ul {
            li {
              .flag-container {
                width: 16px;
                height: 12px;
                float: left;
                margin-right: 9px;

                img {
                  border: 1px solid $primary-grey;
                }
              }
            }
          }
        }
      }

      .dropdown-toggle {
        &:after {
          color: $color-topmenu;
          position: absolute;
          right: -12px;
          top: 12px;
        }

        .flag-container {
          width: 16px;
          height: 12px;
          float: left;
          margin-right: 9px;

          img {
            border: 1px solid $primary-grey;
          }
        }

        span {
          margin-top: 3px;
          display: inline-flex;
        }
      }
    }
  }

  .form-control[readonly] {
    background-color: $white-color !important;
  }

  .input-group {
    &.inputError {
      .input-group-text {
        border-color: $danger-color !important;
      }

      input {
        border-color: $danger-color !important;
        border-left: none !important;
      }

    }

    input {
      transition: 0s !important;
      transition-delay: 0s;
      transition-delay: unset !important;
      &:focus {
          border-color: #e9ecf0 !important;
      }
    }
  }
}

//out of form-group
.sub-title {
  color: $pagination-text-color;
  font-family: $font-proxima;
}

h2,
h3,
h5 {
  color: $route-large-title-color;
  text-transform: capitalize;
  font-weight: 500;
  font-family: $font-pragmatica;
}

h5 {
  font-size: 1.15rem;
}

.dir-otherLanguage {
  direction: rtl;
  font-family: $font-NeoSansArabic-Regular !important;

  .sub-title,
  p {
    font-family: $font-NeoSansArabic-Regular;
  }

  h2,
  h3,
  h5 {
    font-family: $font-NeoSansArabic-Medium;
  }
}

.glowElement {
  -webkit-animation: 1.4s linear infinite blink;
  animation: 1.4s linear infinite blink;
  -ms-animation: 1.4s linear infinite blink;
}

//out of form-group end
.licenseNaming,
.license {
  label {
    font-size: $font-size-large;
    font-family: $font-proxima;
    font-weight: $font-weight-mid;
    color: $text-color-default;
  }

  small {
    font-size: $font-size-medium;
    font-family: $font-proxima;
    font-weight: $font-weight-mid;
    color: $secondary-text-color;
  }

  &.dir-otherLanguage {
    text-align: right;

    label {
      font-family: $font-NeoSansArabic-Medium;
    }

    small {
      font-family: $font-NeoSansArabic-Regular;
    }
  }
}

select {

  option[value="undefined"],
  &:focus,
  &.ng-invalid {
    color: $place-holder-color;
  }

  &.ng-valid {
    color: inherit;
  }

  &[ng-reflect-model="undefined"] {
    color: $place-holder-color;
  }
}

.creatpass-eng {
  text-align: center;

  h3,
  p,
  h2,
  h5 {
    text-align: center !important;
  }

  p {
    display: inline-block;
    width: 70%;
  }
}


.mid-size-popup {
  .modal-dialog {
    max-width: 495px;
  }
}

//Internet Explorar css start
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-group {
    input {
      line-height: 1 !important;
    }

    .select-number {

      .input-group-prepend,
      .input-group-append {
        input.select-country-code {
          padding-top: 9px;
        }
      }
    }
  }
}

@supports (-ms-accelerator: true) {
  .flag-container {
    img {
      width: 16px !important;
      height: 12px !important;
    }
  }
}

@media (max-width: $screen-sm-screen) {
  .border-md-0 {
    border: none !important;

    &-right {
      border-right: 0px !important;
    }

    &-left {
      border-left: 0px !important;
    }

    &-bottom {
      border-bottom: 0px !important;
    }

    &-top {
      border-top: 0px !important;
    }
  }
}

@media (max-width: $screen-lg-screen) {
  .border-lg-0 {
    border: none !important;

    &-right {
      border-right: 0px !important;
    }

    &-left {
      border-left: 0px !important;
    }

    &-bottom {
      border-bottom: 0px !important;
    }

    &-top {
      border-top: 0px !important;
    }
  }
}

@media (max-width: $screen-xs-screen) {
  .border-xs-0 {
    border: none !important;

    &-right {
      border-right: 0px !important;
    }

    &-left {
      border-left: 0px !important;
    }

    &-bottom {
      border-bottom: 0px !important;
    }

    &-top {
      border-top: 0px !important;
    }
  }

  .border-xs {
    border: none !important;

    &-right {
      border-right: 1px solid #6c757d2b !important;
      padding-right: 10px !important;
    }

    &-left {
      border-left: 1px solid #6c757d2b !important;
      padding-left: 10px !important;
    }

    &-bottom {
      border-bottom: 1px solid #6c757d2b !important;
      padding-bottom: 10px !important;
    }

    &-top {
      border-top: 1px solid #6c757d2b !important;
      padding-top: 10px !important;
    }
  }
}

//Internet Explorar css end
// scss badge
// Badge Styles
.badge {
  font-size: $font-size-base !important;
  font-family: $font-proxima;
  font-weight: $font-proxima-weight-semibold;
  font-style: normal;
  padding: 0.45em 1em;
  text-transform: uppercase;
  border-radius: 20px;

  &-success {
    background-color: $badge-green;
    color: $secondary-color-dark;
    cursor: context-menu;
  }

  &.hashmove-badge {
    &-warning {
      background: $badge-yellow !important;
      color: $default-yellow !important;
      cursor: context-menu;
    }

    &-danger {
      background: $danger-light-color !important;
      color: $danger-color !important;
      cursor: context-menu;
    }

    &-primary-grey {
      background-color: rgba($primary-grey, 0.9);
      color: $white-color;
    }

    &-secondary {
      background-color: rgba($secondary-color, 0.2);
      color: $secondary-color-dark;
    }

    &-active {
      color: $active-text-color;
      background: $badge-light-blue;
    }
  }

  &-small {
    font-size: $font-size-medium !important;
    padding: 0 6.5px;
    color: $white-color;
    line-height: 1.5;
    font-weight: $font-weight-normal !important;
    min-width: 22px;
    min-height: 20px; // padding: 0;
  }
}

// Data table
.rates-grid {
  position: relative;

  .dataTables_scroll {
    border: 1px solid $data-table-border;

    .dataTables_scrollHead {
      z-index: 2;

      .dataTable {
        thead {
          background: $data-table-header-bg;

          tr {
            will-change: transform;

            th {
              font-family: $font-proxima;
              color: $color-topmenu !important;
              font-size: $font-size-medium;
              font-weight: normal !important;
              border-bottom: 1px solid $data-table-border !important;
              text-transform: uppercase;

              &:hover {
                color: $primary-color;
              }

              &.sorting_asc {
                background: url("assets/images/icons/sorting_asc.svg") no-repeat;
                background-size: 10px !important;
                background-position: center right 5px !important;
              }

              &.sorting_desc {
                @extend .sorting_asc;
                background: url("assets/images/icons/sorting_desc.svg") no-repeat;
              }
            }
          }
        }
      }
    }

    .dataTables_scrollBody {
      border: none;
      background: $white-color; // scrollbar-width: thin;

      // &::-webkit-scrollbar {
      //   height: 8px;
      //   background-color: #f5f5f5;
      // }
      // &::-webkit-scrollbar-thumb {
      //   // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      //   background-color: rgba(0, 0, 0, 0.1);
      // }
      // &::-webkit-scrollbar-track {
      //   // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      //   border-radius: 0px;
      //   background-color: #f3f4f7;
      //   width: 8px;
      //   height: 8px;
      // }
      // &::-webkit-scrollbar-track-piece {
      //   height: 8px;
      // }
      .dataTable {
        tbody {
          tr {
            will-change: transform;

            &.selected {
              background: $data-table-selected-bg;

              td {
                border-bottom: 1px solid $color-topmenuactive !important;
              }
            }

            td {
              font-family: $font-proxima;
              font-size: $font-size-large;
              color: $text-color-default;
              border-bottom: 1px solid $data-table-border !important;
              border-top: none !important;
              padding: 1rem;
              line-height: 1;
              visibility: visible !important;

              .fancyOptionBoxes {
                input[disabled="true"]+label {
                  span {
                    background: #f9f9f9;

                    &:after {
                      background: #f9f9f9;
                      border: 1px solid #f2f2f2;
                      box-shadow: none;
                    }
                  }
                }
              }

              span {
                color: $place-holder-color;
                font-family: $font-proxima;
                font-size: $font-size-large;
                font-style: italic;
              }

              &.gridRoute {
                .dropdown-menu {
                  padding: 0;

                  button {
                    .flag-container {
                      width: 15px;
                      height: 12px;
                      display: flex;
                      margin-top: 2px;
                      margin-right: 10px !important;

                      img {
                        border: 1px solid $primary-grey;
                      }
                    }
                  }
                }

                .origin,
                .destination {
                  position: relative;

                  >.flag-container {
                    width: 16px;
                    height: 24px;
                    align-items: center;
                    position: absolute;
                    left: 10px;
                    top: 11px;

                    img {
                      border: 1px solid $primary-grey;
                    }
                  }

                  .routeSelected {
                    padding-left: 30px !important;
                  }
                }
              }

              &.routeCell {
                img {
                  border: 1px solid $primary-grey;
                  position: relative;
                  top: -1px;
                  border: 1px solid $primary-grey;
                }

                .col-2 {
                  img {
                    border: unset;
                    position: relative;
                    left: -3px;
                    top: 0px;
                    border: none;
                  }
                }
              }

              &.carrierName {
                position: relative;
                padding-left: 35px;
                display: flex;
                flex-direction: column;
                align-items: center;
                line-height: 1.5;

                img {
                  position: absolute;
                  left: 0;
                }

                .badge {
                  background-color: transparentize($color: $danger-color, $amount: 0.9);
                  color: $danger-color;
                  font-family: $font-proxima;
                  font-style: normal !important;
                  border: 1px solid $danger-color;
                  font-size: $font-size-medium - 0.15 !important;
                }
              }

              // &.dataTables_empty {
              //   color: $dark-grey-border;
              // }
            }
          }
        }
      }
    }
  }

  .DTFC_ScrollWrapper {
    .DTFC_LeftWrapper {
      display: none;
    }

    .DTFC_RightWrapper {

      .DTFC_RightHeadWrapper,
      .DTFC_RightFootWrapper {
        table {
          thead {
            background: none;

            th {
              border: none;
              padding: 0;
            }
          }
        }

        .DTFC_RightHeadBlocker {
          &.DTFC_Blocker {
            display: none !important;
          }
        }
      }

      .DTFC_RightBodyWrapper {
        margin-right: 1px;
        overflow: visible !important;
        margin-top: 1px;

        .DTFC_RightBodyLiner {
          overflow-y: unset !important;
          width: 100% !important;

          table {
            margin-bottom: 5rem !important;
            border: 0 !important;
            border-spacing: 0 !important;
            border-collapse: collapse !important;

            tbody {
              tr {
                will-change: transform;
                border-bottom: 1px solid $data-table-border !important;
                display: block;

                td {
                  border: none;
                  padding: 0 !important;
                  text-align: center;
                  width: 100%;
                  height: 100%;
                  justify-content: center;
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
        }
      }
    }
  }

  .dataTables_info {
    font-family: $font-proxima;
    font-size: $font-size-medium;
    color: $pagination-text-color;
    padding-top: 1.3rem;
  }

  .dataTables_paginate {
    font-family: $font-proxima;
    padding-top: 1.1em;

    a.paginate_button {
      font-size: $font-size-base;
      color: $secondary-text-color !important;
      font-weight: $font-weight-mid;

      &.previous,
      &.next {
        padding: 2px 4px;
        border: none;
        background: linear-gradient(to bottom, $color-white 0, $pagination-bg-color 100%);
        border-radius: 5px;
        margin-right: 5px;
        border: 1px solid $grey-border;

        &:hover {
          background: linear-gradient(to bottom, $pagination-bg-color 0, $color-white 100%);
          border: 1px solid $grey-border;
          color: $secondary-text-color !important;
        }
      }

      &.first,
      &.last {
        @extend .previous;
        padding-right: 0.7rem;
        padding-left: 0.7rem;
      }

      &.disabled {
        cursor: no-drop;
        display: none;
      }
    }

    >span {
      >.paginate_button {
        padding: 6px 8px;
        border: 1px solid $grey-border;
        background: linear-gradient(to bottom, $color-white 0, $pagination-bg-color 100%);
        border-radius: 5px;
        margin-right: 5px;
        line-height: 1;

        &.current {
          background: #f1f2f6;
          border: none;
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
          padding: 7px 10px;

          &:hover {
            background: #f1f2f6;
            border: none;
            color: $secondary-text-color !important;
          }
        }

        &:hover {
          background: linear-gradient(to bottom, $pagination-bg-color 0, $color-white 100%);
          border: 1px solid $grey-border;
          color: $secondary-text-color !important;
        }
      }
    }
  }

  &.draft-grid {
    .dataTables_scrollBody {
      >table {
        margin-bottom: 3.7rem;
      }
    }
  }

  &.no-data {
    .DTFC_RightWrapper {
      display: none;
    }

    .addAnother {
      width: 99.8%;
    }
  }
}

ngb-datepicker {
  border: 1px solid $primary-color !important;
  z-index: 9999 !important;

  .ngb-dp-header {
    background: none !important;

    .ngb-dp-arrow-btn {
      &:hover {
        box-shadow: none !important;
      }

      .ngb-dp-navigation-chevron {
        color: $primary-color !important;
      }
    }

    ngb-datepicker-navigation {
      .ngb-dp-month-name {
        font-size: 0.9375rem;
        color: $text-color-default;
      }
    }
  }

  .ngb-dp-months {
    .ngb-dp-month {
      position: relative;

      &:first-child {
        &:after {
          content: "";
          width: 1px;
          height: 80%;
          background: $secondary-grey;
          position: absolute;
          top: 40px;
          right: -10px;
          opacity: 0.3;
        }
      }
    }

    .ngb-dp-week {
      background: none !important;

      .ngb-dp-weekday {
        color: $color-date;
        font-style: normal !important;
      }

      .ngb-dp-day {
        font-size: $font-size-medium;

        &:last-child {
          .custom-day {
            color: $danger-color !important;
          }
        }

        .custom-day {
          border-radius: 10px 0 !important;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $color-date;

          &.range {
            background-color: $primary-color !important;
            color: $color-white;
            border-radius: 0 !important;
          }

          &.faded {
            background-color: $primary-color !important;
            opacity: 0.5;
          }

          &:hover {
            background-color: #d2d2d238 !important;
            color: $color-date !important;
          }
        }
      }
    }
  }
}

// End data table
//  muliselect combo box
.multiselect-dropdown {
  .dropdown-btn {
    padding: 10px !important;

    .dropdown-up,
    .dropdown-down {
      border-left: 5px solid transparent !important;
      border-right: 5px solid transparent !important;
    }

    .dropdown-down {
      border-top: 5px solid $secondary-grey !important;
    }

    .dropdown-up {
      border-bottom: 5px solid $secondary-grey !important;
    }
  }

  .dropdown-list {
    .item1 {
      display: none;
    }
  }
}


quill-editor {

  .ql-toolbar,
  .quill-editor {
    background-color: $white-color;
  }
}

.editor {
  // padding: 0 1rem;
  border-radius: 4px;
  background: $color-white;
  color: $color-menuheading-black;
  font-size: $font-size-medium;
  text-align: left;
  font-family: $font-proxima;
  transition: 0.5s;
  border: 1px solid $data-table-border;
  padding: 1rem;
  height: 300px;
  overflow-y: auto;

  h1 {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  h3 {
    font-size: 1.28rem !important;
  }

  h4 {
    font-size: $root-font-size !important;
  }

  h5 {
    font-size: $font-size-medium !important;
  }

  h6 {
    font-size: $font-size-base !important;
  }

  p {
    font-size: $font-size-medium;
    color: $color-menuheading-black;
    margin: 0;
    line-height: 1.5;
  }

  .ql-align {
    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }

    &-justify {
      text-align: justify;
    }
  }

  ol {
    li {
      list-style: unset !important;

      &:before {
        content: "" !important;
      }
    }
  }

  ol,
  ul {
    padding-left: 1rem;
    padding-right: 1rem;

    li {
      font-family: $font-proxima;
      font-size: $font-size-medium !important;
      padding-left: 0px;
      color: $color-menuheading-black !important;
      list-style: none;
      position: relative;

      &.ql-indent {
        &-1 {
          margin-left: 4.5em;
        }

        &-2 {
          margin-left: 7.5em;
        }

        &-3 {
          margin-left: 10.5em;
        }

        &-4 {
          margin-left: 13.5em;
        }

        &-5 {
          margin-left: 16.5em;
        }

        &-6 {
          margin-left: 19.5em;
        }

        &-7 {
          margin-left: 22.5em;
        }

        &-8 {
          margin-left: 25.5em;
        }
      }

      &::before {
        color: $color-topmenuactive;
        content: "\2022";
        font-weight: bold;
        display: inline-block;
        transform: scale(1.8);
        position: absolute;
        left: -15px;
        top: -1px;
      }

      &.ql-direction-rtl {
        &.ql-align-right {
          direction: rtl !important;
          text-align: right !important;

          &:before {
            left: auto;
            right: -10px;
          }
        }
      }
    }
  }

  &.showMore {
    height: 210px !important;
    overflow-y: hidden !important;
  }
}

.select-number {
  .input-group-prepend {
    .input-group-text {
      background: $white-color;
      border-right: 0px !important;
      border: 1px solid #e9ecf0;
    }
  }

  input:focus,
  select:focus,
  input.fieldError {
    border-color: $input-border !important;
    transition: ease-in .8s;
  }

  .control-phone {
    padding-left: 0;
    border-left: 0;
    box-shadow: none !important;
  }

  span {
    font-size: $font-size-medium;
  }

  .country-section {
    border: 0px;
    background: transparent;
  }

  ng-scrollbar {
    margin-bottom: 0rem;
    min-height: 367px;
    width: 10rem;
    background: $white-color;
    position: absolute;
    z-index: 999;
    top: 13px;
    border: 1px solid #e9ecf0;
    left: -10px;

    ul {
      border: 0px;

      li.list-group-item {
        border: 0px;
        cursor: pointer;

        img {
          border: 1px solid $primary-grey;
        }
      }
    }
  }
}

// Anchors
.link-hover {
  transition: all 0.5s ease;
  position: relative;
  font-size: $font-size-medium;
  font-family: $font-proxima;
  font-weight: $font-proxima-weight-semibold;

  &::after {
    content: "";
    position: absolute;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }

  &:hover {
    &::after {
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 1px;
      background: #0097d0;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    }
  }

  &.primary {
    color: $primary-color;

    &:hover {
      &::after {
        background: $primary-color;
      }
    }
  }

  &.secondary {
    color: $secondary-color;

    &:hover {
      &::after {
        background: $secondary-color;
      }
    }
  }

  &.danger {
    color: $danger-color;

    &:hover {
      &::after {
        background: $danger-color;
      }
    }
  }

  &.grey {
    color: $secondary-grey;

    &:hover {
      &::after {
        background: $secondary-grey;
      }
    }
  }

  &.additional {
    color: $primary-color;

    &:hover {
      &::after {
        background: $primary-color;
      }
    }
  }

  &.general {
    font-size: 0.75rem;
    color: #738593;
    font-family: "pragmatica", sans-serif;
    font-weight: 500;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      &::after {
        display: none;
      }
    }
  }
}

// combine Field
.combine-filed-popup {
  border-radius: 4px;

  &-left {
    font-size: 1rem;
    color: #2b2b2b;
    font-family: "proxima-nova", sans-serif;
    font-weight: $font-weight-mid;
    background: #f1f0f0;
    line-height: 1;
    padding: 15px 10px;
    border: 1px solid $input-border;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    &-btn {
      padding: 0;

      .dropdown-toggle {
        height: 48px;
        margin: 0 !important;
        width: 100%;
        border: 1px solid $input-border;
        background: #f1f0f0;
        border-radius: 4px 0 0px 4px;
        text-align: left;

        &:hover,
        &:focus {
          box-shadow: none !important;
          outline: 0 !important;
        }

        &:after {
          position: absolute;
          right: 15px;
          top: 22px;
        }
      }

      .dropdown-menu {
        max-height: 250px;
        overflow-y: auto;
        border: 1px solid $primary-color;
        box-shadow: 0 0 5px -1px $primary-color;

        .dropdown-item {
          &.custom-label {
            color: $primary-color;
            font-family: $font-proxima;
            font-size: $font-size-medium;
            padding: 0.5rem 1.5rem;
            display: flex;
            align-items: center;
            margin-top: 10px;

            img {
              margin-right: 0.5rem;
            }

            &:hover {
              color: $primary-color;
            }
          }

          &.charges-form {
            width: 313px;
            margin: 0;
            padding: 0.25rem 0;

            .form-control {
              font-family: $font-proxima;
              font-size: $font-size-medium !important;
              color: $disabled-text-color !important;
            }
          }

          &:active,
          &:hover {
            background: none !important;
            color: inherit;
          }
        }

        .additional-dialog {
          width: 343px;
          overflow: unset;
          margin: 0;
          padding: 15px 0;
        }
      }
    }
  }

  &-mid {
    input {
      border-radius: 0px !important;
      border-color: #ced4da;
      border-left: 0;
      line-height: 3 !important;
      height: 3rem;
    }
  }

  &-right {
    input {
      border-left: 0;
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
      border-color: #ced4da;
      height: 48px;

      &:hover,
      &:focus {
        box-shadow: none !important;
        outline: 0 !important;
      }
    }

    &.hasDoubleRates {
      .form-control {
        width: 50%;
        float: left;
      }

      span {
        position: absolute;
        top: -1.5rem;

        &:first-child {
          left: 1rem;
        }

        &:nth-child(2) {
          left: 5.7rem;
        }
      }
    }
  }

  .active {
    box-shadow: 0 0 0 1px $color-topmenuactive;
    border-radius: 4px;
    position: relative;
  }

  &-delete {
    position: absolute;
    right: 10px;
    top: -4px;
    display: none;
  }

  &:hover {
    transition: 1s all ease-in;
    transition-delay: 2s;

    .combine-filed-popup-delete {
      transition: 2s all ease-in;
      transition-delay: 2s;
      display: block;
    }
  }
}

// pagination
.ngx-pagination {
  margin: 30px 0 0 0;
  padding: 0;
  float: right;

  li {
    margin-right: 5px !important;

    a {
      padding: 0.45rem 0.65rem;
      border: 1px solid $grey-border;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), to(#ebebeb));
      background: linear-gradient(to bottom, #ffffff 0, #ebebeb 100%);
      border-radius: 5px;
      line-height: 1;
      font-size: 0.75rem;
      color: #555555 !important;
      font-weight: 500;

      .show-for-sr {
        display: none;
      }
    }

    &.current {
      padding: 0.3rem 0.65rem;
      background: #f1f2f6;
      border: none;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2) inset;
      color: #555555 !important;
      border-radius: 5px;
      font-size: 0.75rem;
      font-weight: 500;

      .show-for-sr {
        display: none;
      }
    }

    &.pagination-next {
      &.disabled {
        display: none;
      }

      a {
        padding: 0.3rem 0.35rem;
        top: 3px;
        position: relative;

        &:after {
          content: url("assets/images/icons/icon_arrow_right.svg");
          margin: 0 !important;
          width: 16px !important;
          height: 16px !important;
        }
      }
    }

    &.pagination-previous {
      &.disabled {
        display: none;
      }

      a {
        padding: 0.3rem 0.35rem;
        top: 3px;
        position: relative;
        border: 1px solid #e5e5e5;
        background: linear-gradient(to bottom, #ffffff 0, #ebebeb 100%);
        border-radius: 5px;
        line-height: 1;

        &:before {
          content: url("assets/images/icons/icon_arrow_left.svg");
          margin: 0 !important;
          width: 16px !important;
          height: 16px !important;
        }
      }
    }

    &:last-child {
      margin-right: 0px !important;
    }
  }
}
