@import "../../../../../assets/scss/_variables";

.settings {
  ngb-tabset {
    .nav {
      border: none;
      margin-bottom: 1rem;

      &-item {
        flex: 1;
        text-align: center;
      }

      &-link {
        background: none !important;
        border: none !important;
        box-shadow: 0 1px 0 0 $grey-border;
        font-family: $font-proxima;
        font-size: $font-size-medium;
        color: $color-topmenu;
        font-weight: $font-weight-mid;
        text-transform: uppercase;
        letter-spacing: 1px;

        &.active {
          box-shadow: 0 2px 0 0 $primary-color;
          color: $primary-color;
        }

        &.disabled {
          opacity: 0.4;
          cursor: default;
          filter: grayscale(1);

        }

        .setting-noti {
          display: inline-block;
          width: 8px;
          height: 8px;
          margin-right: 10px;

          .circle {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: $danger-color;
            position: relative;
            display: inline-block;
          }
        }
      }
    }
  }

  .accordion {
    >.card {
      background: none;
      border: none;

      >.card-header {
        background: none;
        border: none;
        margin-top: 5px;

        a {
          font-family: $font-pragmatica;
          font-weight: $font-weight-mid;
          color: $text-color-default;
          font-size: 20px;
          position: relative;
          padding-left: 12px;

          &:before {
            content: "";
            position: absolute;
            left: -24px;
            height: 17px;
            width: 20px;
            transform: rotate(270deg);
            top: 3px;
            transition: all 0.8s ease-in-out;
            display: flex;
            background: url("../../../../../assets/images/icons/icon_arrow_left.svg") no-repeat;
          }
        }

        &.active {
          margin-bottom: 5px;

          a {
            &:before {
              transform: rotate(90deg);
            }
          }
        }
      }

      >.card-body {
        background: $color-white;
        border: 1px solid $grey-border;
        overflow: hidden;

        .form-group {
          .form-control[readonly] {
            background-color: $disabled-color !important;
          }
        }

        .city-dropdown {
          position: relative;
          display: inline-block;
          width: 100%;

          >.flag-container {
            width: 16px;
            height: 12px;
            position: absolute;
            left: 20px;
            top: 19px;
            display: flex;

            img {
              width: 16px;
              height: 12px;
              border: 1px solid $primary-grey;
            }
          }

          input {
            &.routeSelected {
              padding-left: 2.8rem;
            }
          }

          &.currency {
            ngb-typeahead-window {
              top: auto !important;
              bottom: 50px;
            }
          }
        }
      }
    }
  }

  .servicechip {
    border-radius: 25px;
    border: 1px solid $input-border;
    background: $white-color;
    position: relative;
    font-family: $font-proxima;
    filter: grayscale(1);

    &.active {
      box-shadow: 0px 5px 20px 0px rgba(0, 162, 223, 0.15) !important;
      border: 2px solid $primary-color !important;
      background: $white-color !important;
      filter: grayscale(0);
    }

    &-provides,
    &-valueAdded {
      @extend .servicechip;
      height: 40px;
    }

    &-asscoiation {
      @extend .servicechip;
      height: 70px;

      img {
        width: 50%;
        max-height: 85%;
        object-fit: contain;
      }
    }
  }

  .delete-acc {
    a {
      color: $danger-color;
      font-family: $font-proxima;
      font-size: $font-size-medium;
      font-weight: $font-weight-mid;
      text-transform: uppercase;
      display: flex;
      align-items: center;

      &:hover {
        .delete-icon {
          overflow: visible;

          g {
            rect {
              transform: rotate(-25deg);
              transition: 0.5s;
            }
          }
        }
      }
    }

    p {
      font-family: $font-proxima;
      font-size: $font-size-medium;
      color: $secondary-text-color;
      letter-spacing: 0.5px;
    }
  }

  .setting-update-btn {
    font-family: $font-proxima;
    font-size: $font-size-large;
    color: $secondary-color;
    font-weight: $font-weight-mid;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    line-height: 1;
    outline: 0;

    &:disabled {
      cursor: no-drop;
      filter: grayscale(1);
    }

    &:hover {
      svg {
        animation-name: heartBeat;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
      }
    }
  }


  .setting-discard-btn {
    @extend .setting-update-btn;
    color: $color-topmenu;
  }

  .hvr-icon-forward {
    font-size: $font-size-medium;
    color: $secondary-color;
    font-family: $font-proxima;
    font-weight: $font-proxima-weight-semibold;
    margin-top: 0.25rem;

  }

  .editButton {
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;

    &:disabled {
      cursor: no-drop;
      filter: grayscale(1);
    }
  }

  .provider-logo {
    width: 120px;
    height: 120px;
    border: 1px solid $input-border;
    border-radius: 4px;
    position: relative;
    z-index: 0;
    background-color: $color-white;
    text-align: center;
    vertical-align: middle;
    background-image: url("../../../../../assets/images/img-canvas.png");
    background-size: 20px;


    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .fancyOptionBoxes {
    input[disabled=""]+label {
      cursor: no-drop;
      filter: grayscale(1);
    }
  }

  .change-logo {
    font-family: $font-proxima;
    font-size: $font-size-medium;
    color: $color-topmenu;
    font-weight: $font-weight-mid;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover {
      color:$color-topmenuactive;
    }
  }

  .text-muted {
    line-height: 1;
  }

  .regional {
    h6 {
      @extend .change-logo;
    }

    small {
      font-family: $font-proxima;
      color: $secondary-text-color;
      font-size: $font-size-medium;
      letter-spacing: 0.5px;
    }
  }

  .document-Info {
    .file-uploader {
      border: 1px dashed #e1d8d8;
      border-radius: 4px;

      .browse-span {
        color: $secondary-color;
        font-weight: 500;
      }

      text-align: center;
      background-color: $color-white;

      app-ng-files-drag-n-upload {
        label {
          padding: 2rem 60px;
        }
      }
    }

    .uploadedDocx {
      margin-top: 1rem;

      .uploaded-images {
        display: table;

        .display-upload {
          position: relative;
          height: 200px;
          z-index: 0;
          border: 1px solid $input-border;
          background-color: $color-white;
          border-radius: 4px;
          text-align: center;
          display: table-cell;
          vertical-align: middle;
          background-image: url("../../../../../assets/images/img-canvas.png");
          background-size: 20px;

          img,
          video {
            max-width: 100%;
            max-height: 100%;
          }

          .delete-icon {
            position: absolute;
            top: -10px;
            right: -8px;
            min-height: auto;
            background: $white-color;
            padding: 3px;
            border-radius: 50%;
            width: 23px;
            height: auto;
            border: none;
          }

          &:hover {
            .delete-icon {
              animation-name: pulse;
              animation-fill-mode: both;
              animation-duration: 1s;
              animation-iteration-count: infinite;
            }
          }
        }
      }
    }
  }

  .select-number {
    .select-country-list {
      .dropdown-toggle {
        padding-right: 15px;

        &::after {
          right: 0px !important;
        }
      }

    }

  }

  .editor {
    border: none;
    padding: 0;
    overflow: hidden;
    height: auto;
  }

  .badge{
    text-transform: unset;
  }

  @media(max-width: $screen-md-screen) {
    .nav-tabs {
      justify-content: center !important;

      .nav-item {
        flex: unset !important;
        width: 50% !important;
        margin-bottom: 1rem;
      }
    }
  }

  @media(max-width: $screen-sm-screen) {
    .nav-tabs {
      .nav-item {
        width: 100% !important;
      }
    }

    .uploadedDocx {
      .uploaded-images {
        .display-upload {
          height: 130px !important;
        }
      }
    }
  }
}
