<div class="passwordPage" *ngIf="userInfo && userInfo.firstName; else otherTemp">
  <div class="row">
    <div class="col-12 mt-2 text-center protectedIcon mb-4">
      <img src="../../../../../assets/images/icons/protected_pass_icon.svg" alt='protected' />
    </div>
    <div class="col" [ngClass]="(showTranslatedLangSide)? 'creatpass-arb' : 'creatpass-eng'">
      <span class="text-left" innerHTML="{{headingBaseLanguage}}"></span>
      <p class="sub-title" innerHTML="{{descBaseLanguage}}"></p>
    </div>
    <div class="col dir-otherLanguage" *ngIf="showTranslatedLangSide" [ngClass]="{'arabic-class': showTranslatedLangSide}">
      <span class="text-right dir-otherLanguage" innerHTML="{{headingOtherLanguage}}"></span>
      <p class="sub-title text-right" innerHTML="{{descOtherLanguage}}"></p>
    </div>
  </div>

  <hr class="hr-solid">

  <div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-md-6 col-sm-8 password-form">
      <form autocomplete="off" novalidate [formGroup]="passForm" (ngSubmit)="passwordSubmit(passForm.value)">
        <div class="form-group">
          <label for="password">
            <span>{{lblEmailBaselang}}</span>
            <span *ngIf="showTranslatedLangSide"> / {{lblEmailOtherlang}}</span>
          </label>
           <input type="text" class="form-control" placeholder="Email" readonly formControlName="email">
        </div>
        <div class="form-group">
          <label for="password">
            <span>{{lblPasswordBaselang}}</span>
            <span *ngIf="showTranslatedLangSide"> / {{lblPasswordOtherlang}}</span>
          </label>
          <div class="confirmPassword">
            <i class="fa fa-eye pointer" aria-hidden="true" [ngClass]="colorEye" (click)=confirmPassword($event)></i>
            <input type="password" class="form-control password" [ngClass]="{'inputError': passwordError && passForm.controls['password'].errors}"
              autocomplete="new-password" (focusout)="validate()" (focus)="passwordError=false" (keypress)="passSpaceHandler($event)"
              placeholder="Enter Password" formControlName="password">
            <span class="animated fadeIn" *ngIf="passwordError && passForm.controls['password'].errors">
              <p class="inputError animated fadeIn" *ngIf="passForm.controls['password'].hasError('required') && (passForm.controls.password.dirty || passForm.controls.password.touched)">{{requiredFields}}</p>
              <p class="inputError animated fadeIn" *ngIf="passForm.controls['password'].hasError('minlength') && (passForm.controls.password.dirty || passForm.controls.password.touched)">Password
                must be at least 6 characters long</p>
              <p class="inputError animated fadeIn" *ngIf="passForm.controls['password'].hasError('maxlength') && (passForm.controls.password.dirty || passForm.controls.password.touched)">Password
                should not exceed from 30 characters</p>
            </span>
          </div>
        </div>
        <button class="btn btn-primary hvr-sweep-to-right form-control mt-3" type="submit" [disabled]='passForm.invalid'>
          <span>{{btnBaselang}}</span><span *ngIf="showTranslatedLangSide"> / {{btnOtherlang}}</span></button>
      </form>
    </div>
  </div>
</div>
<ng-template #otherTemp>
  <div class="card">
  <P class="text-center">User not found</P>
  </div>
</ng-template>
