@import "../../../../../../assets/scss/_variables";
.passwordPage {
	.protectedIcon {
		img {
			width: 350px;
		}
	}
	.password-form {
		.form-group {
			label {
				span:nth-child(2) {
					font-family: $font-NeoSansArabic-Regular
				}
			}
			.confirmPassword {
				position: relative;
				i {
					position: absolute;
					right: 15px;
					top: 15px;
					&.black {
						color: $text-color-default
					}
					&.grey {
						color: $text-grey;
					}
				}
			}
		}
		.btn {
			padding: 1.45rem 0rem;
			line-height: 0;
			margin-top: 5px;
			span:nth-child(2) {
				font-family: $font-NeoSansArabic-Regular;
			}
		}
	}
}