<div class="bookings mt-2">
  <div class="card">
    <div class="card-body pt-2 pb-2">
      <!-- booking top row -->
      <div class="bookings-header row">
        <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12 d-flex justify-content-start">
          <div class="d-flex bookings-header-number">
            <div *ngIf="booking.ShippingModeCode === 'SEA'" class="bookings-header-number-icon sea-icon">
              <img class="icon-size-24" src="../../../../../assets/images/icons/icons_cargo_ship_white.svg">
            </div>
            <div *ngIf="booking.ShippingModeCode === 'AIR'" class="bookings-header-number-icon air-icon">
              <img class="icon-size-24" src="../../../../../assets/images/icons/icon_plane_white.svg">
            </div>

            <div *ngIf="booking.ShippingModeCode === 'WAREHOUSE'" class="bookings-header-number-icon ware-icon">
              <img class="icon-size-24" src="../../../../../assets/images/icons/icon_warehouse_white.svg">
            </div>

            <div *ngIf="booking.ShippingModeCode === 'TRUCK'" class="bookings-header-number-icon truck-icon">
              <img class="icon-size-24" src="../../../../../assets/images/icons/Icons_Cargo_Truck_white.svg">
            </div>

            <div class="d-flex flex-column info ml-5 pl-2"
              [ngClass]="(booking?.BookingTab?.toLowerCase() === 'saved' || booking?.BookingTab?.toLowerCase() === 'specialrequest')?'':'pointer'"
              (click)="viewBookingDetails()">
              <span>{{booking.HashMoveBookingNum}}</span>
              <small>Booked by {{booking.FirstName}} {{booking.LastName}} on
                {{booking.HashMoveBookingDate | date : "d MMM y"}} {{booking.HashMoveBookingDate | date :
                  "H:mm"}} (GMT)</small>
            </div>
            <div class="d-flex bookings-header-company">
              <div class="d-flex flex-column info mt-1 pl-2 pointer" *ngIf="booking.BookingTab === 'SpecialRequest'">
                <span
                  class="badge badge-pill hashmove-badge-{{(booking.SpecialRequestStatus.toLowerCase() === 'price sent')?'secondary':(booking.SpecialRequestStatus.toLowerCase() === 'pending')?'warning':'active'}}">
                  {{booking.SpecialRequestStatus}}
                </span>
              </div>
            </div>

          </div>
        </div>
        <div
          class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-12 d-flex justify-content-xl-end justify-content-lg-end align-items-center">
          <div class="d-flex bookings-header-company align-items-center">
            <div class="mr-3" *ngIf="booking.BookingTab !== 'SpecialRequest'">
              <span class="status">Booking:</span>
              <span class="badge badge-pill hashmove-badge-danger"
                *ngIf="booking.BookingStatusCode.toLowerCase() === statusCode.cancelled || booking.BookingStatusCode.toLowerCase() === statusCode.rejected">{{booking.BookingStatus}}</span>
              <span class="badge badge-pill hashmove-badge-active"
                *ngIf="booking.BookingStatusCode.toLowerCase() === statusCode.in_review">
                {{booking.BookingStatus}}
                <label class="w-100 d-block mb-0"
                  *ngIf="booking.ShippingStatusCode.toLowerCase() === statusCode.in_transit">Clear Custom
                  Destination</label>

              </span>
              <span class="badge badge-pill hashmove-badge-warning"
                *ngIf="booking.BookingStatusCode.toLowerCase() === statusCode.draft">{{booking.BookingStatus}}</span>
              <span class="badge badge-pill hashmove-badge-secondary"
                *ngIf="booking.BookingStatusCode.toLowerCase() === statusCode.confirmed">{{booking.BookingStatus}}</span>
            </div>
            <div *ngIf="booking.BookingTab !== 'SpecialRequest'" class="d-flex align-items-center">
              <span class="status mr-1">{{(booking.ShippingModeCode === 'WAREHOUSE') ? 'Booking Status' : 'Shipment:'}}
              </span>
              <span class="badge badge-pill hashmove-badge-danger"
                *ngIf="booking.ShippingStatusCode.toLowerCase() === statusCode.cancelled || booking.ShippingStatusCode.toLowerCase() === statusCode.rejected">{{booking.ShippingStatus}}</span>
              <span class="badge badge-pill hashmove-badge-secondary"
                *ngIf="booking.ShippingStatusCode.toLowerCase() === statusCode.completed">{{booking.ShippingStatus}}</span>
              <span class="badge badge-pill hashmove-badge-active"
                *ngIf="booking.ShippingStatusCode.toLowerCase() === statusCode.readytoship || booking.ShippingStatusCode.toLowerCase() === statusCode.in_transit || booking.ShippingStatusCode.toLowerCase() === statusCode.goods_stored">
                {{booking.ShippingStatus}}
                <label class="w-100 d-block mb-0"
                  *ngIf="booking?.LastActivity">{{booking?.LastActivity}}</label>
              </span>
              <span class="badge badge-pill hashmove-badge-warning"
                *ngIf="booking.ShippingStatusCode.toLowerCase() === statusCode.pending">{{booking.ShippingStatus}}</span>
            </div>
            <div class="actions" *ngIf="booking.BookingTab === 'SpecialRequest'">
              <a href="javascript:;" (click)="updatePrice(booking.BookingID)"> Update
                Price
                <i class="fa fa-angle-right ml-1"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-solid mt-1">
      <!-- booking top row -->

      <!-- booking bottom row -->
      <div class="row ">
        <div class="col-lg-5 col-sm-12 border-separated ">
          <div class="row">
            <div class="col-12"
              [ngClass]="booking.ShippingModeCode.toLowerCase() === 'warehouse' ? 'col-xl-12 col-lg-12 col-md-12 col-sm-12' : 'col-xl-6 col-lg-6 col-md-6 col-sm-6'">
              <div class="bookings-detail eq-height d-flex justify-content-between flex-column"
                [ngClass]="{'angle-arrow': booking?.ShippingModeCode?.toLowerCase() !== 'warehouse'}">
                <div class="ports">
                  <small *ngIf="booking.ShippingModeCode.toLowerCase() !== 'warehouse'"
                    class="d-block mb-2 mt-0">From</small>
                  <small *ngIf="booking.ShippingModeCode.toLowerCase() === 'warehouse'"
                    class="d-block mb-2">Detail</small>
                  <label *ngIf="booking.ShippingModeCode.toLowerCase() !== 'warehouse'" class="ports-label mt-1">
                    <img class="icon-size-18-12 mr-2"
                      src="{{'../../../../../assets/images/flags/4x3/' + (booking.PolCountryCode | lowercase) + '.svg'}}"
                      alt="icon"> {{booking.PolCode}}
                  </label>
                  <label *ngIf="booking.ShippingModeCode.toLowerCase() === 'warehouse'"
                    class="ports-label mt-1">{{booking.WHName}}</label>
                  <span *ngIf="booking.ShippingModeCode.toLowerCase() !== 'warehouse'"
                    class="d-block mb-2">{{booking.PolCountry}}</span>
                </div>
                <div class="ports-calendar">
                  <span
                    *ngIf="booking.ShippingModeCode.toLowerCase() !== 'warehouse' && booking?.StoredFromUtc && booking?.EtdUtc?.length > 1 && booking?.ShippingModeCode !== 'AIR'">
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking.EtdLcl | date : "d MMM, yyyy"}}
                  </span>
                  <span *ngIf="booking.ShippingModeCode === 'AIR' && booking?.PickupFrom">
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking?.PickupFrom | date : "d MMM, yyyy"}}
                  </span>
                  <span *ngIf="booking.ShippingModeCode.toLowerCase() === 'warehouse' && booking?.StoredFromUtc">
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking.StoredFromUtc | date : "d MMM, yyyy"}} - {{booking.StoredUntilUtc | date : "d MMM, yyyy"}}
                  </span>
                  <span *ngIf="booking.ShippingModeCode.toLowerCase() === 'warehouse' && booking?.WHMinimumLeaseTerm">
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    Lease Term: {{booking?.WHMinimumLeaseTerm}}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"
              *ngIf="booking.ShippingModeCode.toLowerCase() !== 'warehouse'">
              <div class="bookings-detail eq-height d-flex justify-content-between flex-column">
                <div class="ports">
                  <small class="d-block mb-2 mt-0">to</small>
                  <label class="ports-label mt-1">
                    <img class="icon-size-18-12 mr-2"
                      src="{{'../../../../../assets/images/flags/4x3/' + (booking.PodCountryCode | lowercase) + '.svg'}}"
                      alt="icon"> {{booking.PodCode}}
                  </label>
                  <span class="d-block mb-2">{{booking.PodCountry}}</span>
                </div>
                <div class="ports-calendar" *ngIf="booking?.EtdUtc?.length > 1 && booking?.ShippingModeCode !== 'AIR'">
                  <span>
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking.EtaLcl | date : "d MMM, yyyy"}}
                  </span>
                  <span *ngIf="booking.ShippingModeCode.toLowerCase() === 'air'">
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking.PickupTo | date : "d MMM, yyyy"}}
                  </span>
                </div>
                <div class="ports-calendar" *ngIf="booking?.ShippingModeCode === 'AIR' && booking?.PickupTo">
                  <span>
                    <img src="../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16 mr-2 mb-1">
                    {{booking?.PickupTo | date : "d MMM, yyyy"}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 pl-4 border-separated">
          <div class="row">
            <div class="col-12 mb-2">
              <div class="bookings-detail">
                <div class="ports">
                  <small class="d-block mb-2 mt-0">Customer</small>
                  <div class="d-flex align-items-center pt-1">
                    <div class="customer-image mr-2">
                      <img src="{{getCustomerImage(booking.CustomerLogo)}}" alt="logo" *ngIf="booking.CustomerLogo" />
                      <img src="../../../../../assets/images/icons/icons_user.svg" alt="logo"
                        *ngIf="!booking.CustomerLogo" />
                    </div>
                    <label class="ports-label">
                      {{booking.CustomerName}}
                    </label>
                  </div>
                </div>
                <div class="row mt-4" *ngIf="booking.BookingTab !== 'SpecialRequest'">
                  <div class="col-8" *ngIf="booking?.CarrierName">
                    <div class="ports">
                      <small
                        class="d-block mb-2 mt-0">{{(booking?.ShippingModeCode === 'AIR')?'Air Line':'Shipping Line'}}</small>
                      <div class="d-flex align-items-center pt-1">
                        <div class="customer-image mr-2">
                          <img src="{{getCustomerImage(booking.CarrierImage)}}" alt="">
                          <img src="../../../../../assets/images/icons/icons_user.svg" alt="logo"
                            *ngIf="!booking.CarrierImage" />
                        </div>
                        <label class="ports-label">
                          {{booking.CarrierName}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3" *ngIf="booking.BookingTab === 'SpecialRequest'">
                  <div class="col-8" *ngIf="booking.ContainerLoad === 'FCL'">
                    <div class="ports">
                      <small class="d-block mb-2 mt-0">Shipping Line</small>
                      <div class="d-flex align-items-center pt-1">
                        <div class="customer-image mr-2">
                          <img src="{{getCustomerImage(booking.CarrierImage)}}" alt="">
                          <img src="../../../../../assets/images/icons/icons_user.svg" alt="logo"
                            *ngIf="!booking.CarrierImage" />
                        </div>
                        <label class="ports-label">
                          {{booking.CarrierName}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="provider-cargo col-{{(booking.ContainerLoad === 'FCL') ? '4' : 12}}"
                    [ngClass]="(booking.ContainerLoad === 'FCL') ? 'pl-0' : ''">
                    <div class="ports">
                      <small class="d-block mb-2 mt-0">Cargo</small>
                      <div class="d-flex flex-column pt-1">
                        <h6 class="ports-label m-0 provider d-flex align-items-center">
                          {{booking.ContainerLoad}} x {{booking.ContainerCount}}
                        </h6>
                        <a class="ports-link" href="javascript:;" (click)="openCargoDetails(booking)">View Details</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-12  pl-4">
          <!-- <div class="bookings-detail">
            <div class="ports">
              <small class="d-block mb-2">Price</small>
              <label class="ports-label mt-1"
                ngbTooltip="{{booking.CurrencyCode}} {{booking.BookingTotalAmount | number: '1.2-2'}}">
                {{booking.CurrencyCode}} {{booking.BookingTotalAmount | number:'1.2-2'}}
              </label>
            </div>
          </div> -->

          <div class="bookings-detail">
            <div class="ports">
              <small class="d-block mb-2 mt-0" *ngIf="booking.BookingTab !== 'SpecialRequest'">Price</small>
              <small class="d-block mb-2" *ngIf="booking.BookingTab === 'SpecialRequest'">Special Price </small>
              <label class="ports-label text-truncate mt-1 mb-1" *ngIf="booking.BookingTab === 'SpecialRequest'"
                ngbTooltip="{{booking.CurrencyCode}} {{booking.BookingSpecialAmount | number: '1.2-2'}}">
                <ng-container *ngIf="booking.BookingSpecialAmount != booking.BookingTotalAmount">
                  <span
                    [ngClass]="booking.SpecialRequestStatus === 'REQUESTED AGAIN' ? 'line-through' : ''">{{booking.CurrencyCode}}
                    {{booking.BookingSpecialAmount | number: '1.2-2'}}</span>
                </ng-container>
                <ng-container *ngIf="booking.BookingSpecialAmount === booking.BookingTotalAmount">--</ng-container>
              </label>
            </div>
            <div class="ports">
              <small class="d-block mb-2" *ngIf="booking.BookingTab === 'SpecialRequest'">Original Price
              </small>
              <label class="ports-label mt-1 text-truncate"
                ngbTooltip="{{booking.CurrencyCode}} {{booking.BookingTotalAmount | number: '1.2-2'}}">
                {{booking.CurrencyCode}} {{booking.BookingTotalAmount | number: '1.2-2'}}</label>
            </div>
            <div class="ports mt-4" *ngIf="booking?.ShippingModeCode === 'AIR'">
              <small class="d-block mb-2">Chargeable Weight
              </small>
              <label class="ports-label mt-1 text-truncate" ngbTooltip="{{booking?.ChargeableWeight}}">
                {{booking?.ChargeableWeight | number: '1.2-2'}} KG</label>
            </div>

            <div class="bookings-detail-logs"
              *ngIf="booking.IsSpecialRequest && (booking.BookingSpecialAmount != booking.BookingTotalAmount)">
              <a href="javascript:;" (click)="viewLogs()">View Logs</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
