@import "../../../../../assets/scss/_variables";

.bookings {
  .card {
    border: 1px solid #e9e9e9 !important;
    transition: 0.8s;
    overflow: hidden;

    &:hover {
      border-color: $secondary-color !important;

      .bookings-header {
        &-number {

          img {
            backface-visibility: visible !important;
            animation-name: LeftToRight;
            animation-fill-mode: both;
            animation-duration: 1s;
          }
        }
      }

      .bookings-detail {

        &:before,
        &:after {
          border-color: $secondary-color;
          animation-name: angle-arrow;
          animation-duration: 0.5s;
          animation-iteration-count: infinite;
          animation-direction: alternate;

          @keyframes angle-arrow {
            0% {
              right: 25px;
            }

            100% {
              right: 20px;
            }
          }
        }
      }
    }
  }

  .border-separated {
    border-right: 1px solid #6c757d2b;
  }

  &-header {
    font-family: $font-proxima;

    small {
      font-family: $font-proxima;
      font-size: $font-size-base;
      color: $text-grey;
      font-weight: $font-weight-normal;
      margin-bottom: 1px;
    }

    &-number {
      font-size: $font-size-large;
      font-weight: $font-proxima-weight-semibold;
      color: $primary-color;

      &-icon {
        position: absolute;
        top: -8px;
        left: -5px;
        padding: 10px 0px 10px 15px;
        width: 50px;
        background: #02bdb6;

        &:before {
          content: " ";
          width: 0;
          height: 0;
          border-top: 22px solid transparent;
          border-bottom: 22px solid transparent;
          position: absolute;
          left: 50px;
          top: 0px;
          border-left: 10px solid #02bdb6;
        }

        &.ware-icon {
          background: #738593 !important;

          &:before {
            border-left: 10px solid #738593 !important;
          }
        }
      }

      img {
        width: 35px;
        height: 30px;
        margin-right: 15px;
      }

      .info {
        line-height: 16px;
      }
    }

    &-company {
      .status {
        color: $secondary-grey;
        font-size: $font-size-base;
        font-family: $font-proxima;
        font-weight: $font-proxima-weight-semibold;
        text-transform: uppercase;
      }
      .badge {
        label {
          font-size: $font-size-base;
          color: $secondary-text-color;
          text-transform: capitalize;
        }
      }

      .actions {
        display: flex;
        flex-direction: row;
        font-family: $font-proxima;
        font-size: $font-size-base;
        justify-content: flex-end;

        a {
          font-weight: bold;
          color: $secondary-color;
          text-transform: uppercase;
        }
      }

      @media only screen and (max-width: $screen-md-screen) {
        margin-top: 1rem;
      }
    }

    .book-card-action {

      li {
        font-family: $font-proxima;
        font-size: $font-size-base;
        font-weight: $font-weight-mid;
        margin-right: 17px;
        display: inline-block;

        &:last-child {
          margin-right: 0px;
        }

        &.continue {
          color: $secondary-color;
        }

        &.req-agai {
          color: $badge-default;
        }

        &.discard {
          color: $btn-bg-danger;
        }
      }

      color: $secondary-color;
      font-family: $font-proxima;
      font-size: $font-size-medium;
      font-weight: $font-proxima-weight-semibold;
      text-transform: uppercase;
      padding-left: 0.15rem;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &-detail {
    &.eq-height {
      min-height: 7rem;
      // margin-bottom: 1.9rem;
    }

    .line-through {
      text-decoration: line-through;
    }

    &-logs {
      position: absolute;
      right: 1rem;
      top: 40%;

      a {
        font-family: $font-proxima;
        color: $color-topmenu;
        font-size: $font-size-medium;
        font-weight: 600;
      }
    }

    .ports {
      font-family: $font-proxima;
      font-size: $font-size-base;

      &-label {
        font-size: $font-size-large;
        color: $text-color-default;
        margin-bottom: 0;
        font-weight: $font-weight-mid;
        line-height: 1;
      }

      .customer-image {
        width: 32px;
        height: 24px;
        border: 1px solid #6c757d2b;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      small {
        font-size: $font-size-base;
        color: $color-topmenu;
        text-transform: uppercase;
        line-height: 1;
        vertical-align: bottom;
        text-align: left;
        margin-top: 0.5rem;
      }

      span {
        font-size: $font-size-medium;
        font-family: $font-proxima;
        color: $color-topmenu;
        text-align: left;
      }

      a {
        text-decoration: underline;

        &.ports-link {
          font-family: $font-proxima;
          color: $dark-grey-blue;
          font-size: $font-size-medium;
          font-weight: 600;
        }
      }
    }

    .ports-calendar {
      font-size: $font-size-medium;
      font-family: $font-proxima;
      padding-bottom: 0.9rem;
      padding-top: 0.55rem;

    }

    &.angle-arrow {
      &:before {
        content: "";
        height: 70px;
        width: 1px;
        border: 0.5px solid #6c757d2b;
        position: absolute;
        transform: rotate(35deg);
        top: 50.5px;
        right: 25px;
        transition: 0.8s;
      }

      &:after {
        content: "";
        height: 70px;
        width: 1px;
        border: 0.5px solid #6c757d2b;
        position: absolute;
        transform: rotate(-35deg);
        top: -6.5px;
        right: 25px;
        transition: 0.8s;
      }

      @media only screen and (max-width: $screen-xs-screen) {

        &:before,
        &:after {
          display: none;
        }
      }
    }

    @media (max-width: $screen-fourteen-hundred) {
      .angle-arrow {

        &:before,
        &:after {
          right: 15px !important;
        }
      }
    }
  }

  @media (max-width: $screen-md-screen) {
    .border-separated {
      border-right: 0px;
      border-bottom: 1px solid #6c757d2b;
      padding-bottom: 10px;
    }

    .hr-solid {
      margin-top: 10px !important;
    }
  }
}
