<ng-template #content let-modal>

  <div class="document-modal animated fadeIn">
    <div class="modal-header ">
      <h4 class="document-modal-title">Add Document</h4>
      <a class="pointer crossIcon" (click)="closeModal(null)">
        <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
      </a>
    </div>
    <div class="modal-body pt-2 pb-2">
      <div class="form">
        <div class="form-group">
          <label for="formGroupExampleInput">Document Label</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="other">
        <label class="pt-2" for="formGroupExampleInput2">Upload Document</label>

        <div class="document-Info d-flex flex-column ">
          <div class="file-uploader" >
            <!-- <app-ng-files-drag-n-upload> -->
              <img  class="pt-3"src="../../../../../assets/images/icons/manager-icon.png" />
               <p class="m-0 mt-3">
                Drag here or <span class="browse-span">browse</span> to upload
              </p> 
            <!-- </app-ng-files-drag-n-upload> -->
          </div>
          <!-- <div class="row uploadedDocx">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-4 col-xs-12 mb-3 uploaded-images">
              <div class="display-upload delete"> -->
                <!-- <img [src]="galleryDocx.DocumentFile" /> -->
                <!-- <img src="../../../../../assets/images/icons/icon_del_round.svg" alt="del" class="pointer delete-icon"
                   />
              </div> -->
            <!-- </div>
          </div> -->
        </div>
      </div>
        </div>
        <button class="btn btn-primary btn-lg hvr-sweep-to-right w-100  mt-3 mb-3">Proceed
        </button>
 
      </div>
    </div>

 
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
