@import "../../../../assets/scss/_variables";

.ratesHistory {
  .modal-header {
    padding-left: 30px
  }

  .modal-body {
    border-bottom: 1px solid $disabled-color;

    .history-rate {
      .warehouse-image {
        width: 175px;
        height: 115px;
        border: 1px solid #6c757d2b;
        margin-right: 2rem !important;
        margin-left :1rem !important;
        img {
          width:100%;
          height:100%;
        }
      }
      .warehouse-list-group {
       list-style: none;
        padding:0;
        li {
            .sub-title {
          color:$secondary-grey;
          font-size:$font-size-medium;
          text-transform: uppercase;
             }
             .info {
               color: $text-color-default;
               font-weight :$font-weight-mid;
             }
        }
    }
    }
    .detail {
      padding: 0px 15px;

      .col-6 {
        .ports {
          font-family: $font-proxima;
          font-size: $font-size-base;
          max-width: 195px;

          &-text {
            font-size: $font-size-large;
            color: $text-color-default;
            margin-bottom: 0;
            line-height: 1;
          }

          small {
            font-size: $font-size-medium;
            color: $secondary-grey;
            text-transform: uppercase;
          }

          span {
            font-size: $font-size-medium;
            color: $secondary-text-color;
            line-height: 1.1;
          }

          .flag-container {
            width: 16px;
            height: 12px;
            align-items: center;
            margin-right: 10px;
            margin-top: 1px;

            img {
              border: 1px solid $primary-grey;
              height: 12px;
              width: 16px;
              display: flex;
            }
            &.shipping-logo, &.customer-logo {
              height: 18px;
              width: 30px;

              img {
                height: 18px;
                width: 30px;
                border: none;
                object-fit: contain;
              }
            }
          }
        }
      }
    }

  }

  .list {
    padding: 0rem 1rem 0 2.5rem;
    max-height: 220px;
    overflow-y: auto;

    &-group {
      padding-bottom: 0;
      padding-left: 4px;
      border-left: 1px solid $disabled-color;

      &-item {
        padding: 1.2rem 1.5rem 0.2rem 1.5rem;
        border: 0 !important;
        font-family: $font-proxima;
        margin-bottom: 1rem;

        small {
          font-size: $font-size-medium;
          color: $route-arrow-color;
        }

        .activity {
          font-weight: $font-weight-mid;
        }

        // border-left: 0 !important;
        &::before {
          content: "";
          height: 8px;
          width: 8px;
          background: $btn-default-sky-blue;
          border-radius: 50%;
          position: absolute;
          left: -8.5px;
          top: 25px;
        }
      }
    }
  }
}
