@import "../../../../../../assets/scss/_variables";
.profile-verify {
	.otp-form {
		label {
			span:nth-child(2) {
				font-family: $font-NeoSansArabic-Regular
			}
		}
		.btn {
			font-size: $font-size-large;
			font-family: $font-proxima;
			font-weight: $font-proxima-weight-semibold;
			color: $white-color;
			text-transform: uppercase;
			line-height: 35px;
			height: 48px;
			span:nth-child(2) {
				font-family: $font-NeoSansArabic-Regular;
			}
		}
		&-msg {
			a {
				font-size: $font-size-medium;
				color: $dark-grey-blue;
				font-family: $font-proxima;
				font-weight: $font-proxima-weight-semibold;
				cursor: pointer !important;
				&:hover {
					text-decoration: none;
				}
				span:nth-child(2) {
					font-family: $font-NeoSansArabic-Regular
				}
			}
			b {
				@extend a;
				cursor: default !important;
			}
		}
	}
}