<div class="profile-verify" *ngIf="userInfo && userInfo.FirstName; else otherTemp">
  <div class="row">
      <div class="col" [ngClass]="(showTranslatedLangSide)? 'creatpass-arb' : 'creatpass-eng'">
      <span class="profile-verify-title text-left" innerHTML=" {{headingBaseLanguage}}"></span>
      <p class="sub-title" innerHTML="{{descBaseLanguage}}"></p>
      </div>
    <div class="col" *ngIf="showTranslatedLangSide" [ngClass]="{'arabic-class': showTranslatedLangSide}" class="col dir-otherLanguage">
      <span class="profile-verify-title text-right dir-otherLanguage" innerHTML="{{headingOtherLanguage}}"></span>
      <p class="sub-title text-right dir-otherLanguage" innerHTML="{{descOtherLanguage}}"></p>
    </div>

  </div>

  <hr class="hr-solid">

  <div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-md-6 col-sm-8 otp-form">
      <div class="form-froup">
        <form autocomplete="off" novalidate [formGroup]="otpForm" (ngSubmit)="submitOtp(otpForm.value)">
          <div class="form-group">
            <label for="otp"><span>{{lblOTPPasswordBaselang}}</span><span *ngIf="showTranslatedLangSide"> / {{lblOTPPasswordOtherlang}}</span></label>
            <input maxlength="6" formControlName="otp" (keypress)="passSpaceHandler($event)" type="text" id="otp" class="form-control mb-3" [(ngModel)]="otpCode" placeholder="Enter OTP Code">
            </div>
            <button class="btn btn-primary hvr-sweep-to-right form-control" type="submit" [disabled]="otpForm.invalid">
              <span>{{otpbtnBaselang}}</span><span *ngIf="showTranslatedLangSide"> / {{otpbtnOtherlang}}</span>
            </button>
        </form>
      </div>
      <p class="otp-form-msg text-center mt-2 mb-0">
        <a href="javascript:;" (click)="resendOtp()" class="hvr-icon-forward">
          <span>{{otpResendBaselang}}</span><span *ngIf="showTranslatedLangSide"> / {{otpResendOtherlang}}</span>
          <img src="../../../../../assets/images/icons/icon_arrow_right.svg" class="icon-size-16 align-text-top hvr-icon">
        </a>
      </p>
      <p class="otp-form-msg text-center m-0">
          <b *ngIf="remainingTime">Your OTP will expire in {{remainingTime}}</b>
      </p>
    </div>
  </div>

</div>

<ng-template #otherTemp>
  <P>User not found</P>
</ng-template>


  
