<section class="Allfreights">
  <section class="manage-rate-card mb-5">
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-12">
        <div class="card pointer" (click)="addRatesByAirManually()">
          <img class="card-icon" src="../../../../../assets/images/icons/add-edit-icon.svg" alt="*" />
          <div class="card-body">
            <h5 class="card-title">Add Your Rates Manually </h5>
            <p class="sub-title">Use our tool to add your rates manually</p>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-12">
        <div class="routing text-center">
          <strong>
            <span>OR</span>
          </strong>
        </div>
      </div>
      <div class="col-xl-5 col-lg-5 col-md-12" style="filter: grayscale(1);">
        <div class="card pointer" ngbTooltip="coming soon">
          <img class="card-icon" src="../../../../../assets/images/icons/manager-icon.png" alt="*" />
          <div class="card-body">
            <h5 class="card-title">Upload Your Rates</h5>
            <p class="sub-title">Upload your rates if you already have it</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="draft-Air rates-grid draft-grid"
    [ngClass]="{'no-data': !draftslist?.length, 'no-scroll-add' : draftslist?.length, 'no-pagination': draftslist?.length <= dtOptionsByAirDraft.pageLength}">
    <h5 class="add-rate-head mb-4 mt-4">Unpublished Rates</h5>
    <!-- <table id="draftRateTable" cellspacing="0" #draftBYair class="row-border hover"></table> -->
    <app-ui-table *ngIf="draftslist?.length" [tableType]="'draftFCL'" [tableData]="draftslist"
      (checkedRows)="tableCheckedRows($event)" [containerLoad]="'LCL'" [transMode]="'AIR'"
      (pageEvent)="paging('air', $event, 'draft')" [incomingPage]="draftPageNo"></app-ui-table>
    <button (click)="addAnotherRates()" *ngIf="!draftslist?.length"
      class="btn btn-outline-primary btn-lg hvr-sweep-to-right mr-2"> Click to add new rate </button>
    <a href="javascript:;" class="addAnother animated fadeIn" *ngIf="draftslist?.length"
      [ngClass]="draftslist?.length > 5 ? 'withScroll' : ''" (click)="addAnotherRates()">
      <img src="../../../../../../assets/images/icons/icon_add.svg" width="16px" alt="">
      Add another rate
    </a>
    <!-- <app-loader-main *ngIf="draftloading"></app-loader-main> -->
    <a href="javascript:;" class="addAnother animated fadeIn" (click)="addAnotherRates()" *ngIf="!draftloading">Add
      another rate</a>
  </section>
  <div class="row mt-4" *ngIf="draftslist?.length">
    <div class="col-12 text-right actions">
      <button class="discard-draft w-auto p-0 border-0 bg-transparent text-uppercase"
        [disabled]="!draftslist || (draftslist && !draftslist?.length)" (click)="discardDraft()">
        Discard Draft
      </button>
      <!-- <button class="btn btn-outline-primary btn-lg hvr-sweep-to-right mr-2">
        Save Draft
      </button> -->
      <button class="btn btn-primary btn-lg hvr-sweep-to-right" [disabled]="!publishRates.length"
        (click)="publishRate()">
        Publish Rates
      </button>
    </div>
  </div>
  <hr class="hr-solid mt-4">
  <h5 class="add-rate-head mb-4 mt-4">Your Rates</h5>
  <section class="rates-filter">
    <ngb-accordion>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>
            <img src="../../../../../../../assets/images/icons/filter-icon.svg" alt="Filter"
              class="icon-size-16 mr-2 filter-icon">Filter
            your results
            <img src="../../../../../../../assets/images/icons/icon_arrow_right.svg" alt="direction"
              class="icon-size-16 acc-icon">
          </span>
          <span class="clear-filter" (click)="clearFilter($event)">
            <svg id="969970e9-5f21-4072-86a7-6672decd15e6" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16">
              <g id="0d761291-d7c4-42bf-9433-98aad825bfb6" data-name="add">
                <g id="bede06dd-acf7-4be6-a923-734e194ecf5e" data-name="sucess">
                  <path class="c06d2a3e-2056-48b9-8ea4-a92f4739f949"
                    d="M8,2A6,6,0,1,1,2,8,6.007,6.007,0,0,1,8,2M8,0a8,8,0,1,0,8,8A8,8,0,0,0,8,0Z" />
                </g>
                <polygon class="c06d2a3e-2056-48b9-8ea4-a92f4739f949"
                  points="11 7 9 7 9 5 7 5 7 7 5 7 5 9 7 9 7 11 9 11 9 9 11 9 11 7" />
              </g>
            </svg>
            Reset Filter(s)</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row" [@fadeInOut]>
            <div class="col-3">
              <div class="form-group">
                <label>AirLines</label>
                <select class="form-control" [(ngModel)]="filterbyAirLine" placeholder="Select">
                  <option [value]="undefined">All</option>
                  <option *ngFor="let air of allAirLines" [value]="air.id">{{air.title}}</option>
                </select>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label>Route</label>
                <div class="row combine-field">
                  <div class="col-6 origin pl-0">
                    <div class="flag-container">
                      <img *ngIf="filterOrigin && filterOrigin.CountryCode"
                        src="{{'../../../../../assets/images/flags/4x3/' + (filterOrigin.CountryCode | lowercase) + '.svg'}}"
                        type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                    </div>
                    <input class="form-control" [(ngModel)]="filterOrigin" placeholder="Origin" type="text"
                      [ngClass]="{'routeSelected': filterOrigin && filterOrigin.CountryCode}" [ngbTypeahead]="ports"
                      [resultTemplate]="rt" [inputFormatter]="formatter" />
                  </div>
                  <div class="col-6 destination pl-0">
                    <div class="flag-container">
                      <img *ngIf="filterDestination && filterDestination.CountryCode"
                        src="{{'../../../../../assets/images/flags/4x3/' + (filterDestination.CountryCode | lowercase) + '.svg'}}"
                        type="image/svg+xml" class="mw-100 w-auto h-auto mh-100">
                    </div>
                    <input placeholder="Destination" [(ngModel)]="filterDestination" type="text" class="form-control"
                      [ngClass]="{'routeSelected': filterDestination && filterDestination.CountryCode}"
                      [ngbTypeahead]="ports" [resultTemplate]="rt" [inputFormatter]="formatter" />
                  </div>
                </div>
              </div>
            </div>
            <ng-template #rt let-r="result">
              <div class="d-flex">
                <div class="flag-container mr-1">
                  <img src="{{'../../../../../assets/images/flags/4x3/' + (r.CountryCode | lowercase) + '.svg'}}"
                    class="mw-100 w-auto h-auto mh-100">
                </div>
                <ngb-highlight [result]="r.PortName"></ngb-highlight>
              </div>
            </ng-template>
            <div class="col-3">
              <div class="form-group">
                <label>Cargo Type</label>
                <select class="form-control" [(ngModel)]="filterbyCargoType">
                  <option [value]="undefined">All</option>
                  <option *ngFor="let cargo of allCargoType" [value]="cargo.ShippingCatID">{{cargo.ShippingCatName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group date-control">
                <label>Rate Validity</label>
                <div class="dateIcon">
                  <input autocomplete="off" #rangeDp class="form-control" placeholder="Start Date - End Date" name="dp"
                    [(ngModel)]="model" ngbDatepicker [dayTemplate]="t" [autoClose]="false" placement="bottom-right"
                    [outsideDays]="true" [navigation]="false" [displayMonths]="2" [maxDate]="maxDate"
                    [minDate]="minDate" #dp="ngbDatepicker" (click)="dp.toggle()">
                </div>
                <ng-template #t let-date="date" let-focused="focused">
                  <span class="custom-day"
                    [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (click)="onDateSelection(date)"
                    (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                </ng-template>
              </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12 form-group">
              <label>Show Only Rates For </label>
              <div class="fancyOptionBoxes pull-left  filter-checkbox mr-3 pt-3">
                <input id="Radios" name="Radios" type="checkbox" [checked]="isMarketplace"
                  (change)="isMarketplace = !isMarketplace; isCustomer = false">
                <label for="Radios">
                  <span></span>
                  Marketplace
                </label>
              </div>
              <div class="fancyOptionBoxes pull-left  filter-checkbox  pt-3">
                <input id="Radios2" name="Radios" type="checkbox" [checked]="isCustomer"
                  (change)="isCustomer = !isCustomer; isMarketplace = false">
                <label for="Radios2">
                  <span></span>
                  My Customers
                </label>
              </div>
            </div>
            <!-- <div class="col-4">
              <div class="form-group">
                <label>Customer</label>
                <select class="form-control" [(ngModel)]="filterbyCargoTypeLcl" (change)="filterLcl()">
                  <option [value]="undefined">All</option>
                  <option *ngFor="let cargo of allCargoType" [value]="cargo.ShippingCatID">{{ cargo.ShippingCatName }}</option>
                </select>
              </div>
            </div> -->

          </div>
          <div class="col-8">
            <div class="form-group">
              <label for="">&nbsp;</label>
              <button class="btn btn-primary w-50 btn-lg" (click)="getAllPublishRates(1)">Filter
                Records</button>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </section>
  <section class="rates-grid mt-5 publishRateAir"
    [ngClass]="{'no-data': allRatesList && !allRatesList.length, 'no-scroll-add': allRatesList && allRatesList.length, 'no-pagination': allRatesList && allRatesList.length <= dtOptionsByAir.pageLength}">
    <div class="row mb-3 justify-content-end" *ngIf="allRatesList">
      <div class="col-6 d-flex justify-content-start rate-dur" *ngIf="allRatesList && allRatesList.length">
        <img src="../../../../../../assets/images/icons/Icons_Clock-2hour.svg" alt="del_icon"
          class="icon-size-24 mr-2" />
        Rates will be published within 30-60 minutes
      </div>
      <div class="col-6 d-flex justify-content-end">
        <a href="javascript:;" class="rate-validate mr-5" (click)="rateValidity()"
          [ngClass]="{ 'no-drop': !delPublishRates.length }">
          <!-- <img src="../../../../../../assets/images/icons/Icons_Calendar-Secondary.svg" alt="del_icon" class="icon-size-16" /> -->
          <svg class="edit-validity-icon icon-size-16 mr-2" id="17f5b310-5508-485b-8001-dbaf3458113b"
            data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <defs>
              <style>
                .be7dd154-90ee-45f6-a47e-11a6c4eceb87 {
                  fill: #02bdb6;
                }

                .dd12900e-6340-4a89-b921-0b1d5cffc735 {
                  fill: #fff;
                }
              </style>
            </defs>
            <title>icon</title>
            <g id="40ee8fd5-e28d-4347-b10e-66f9984b7564" data-name="calendar2">
              <path id="6d9cbed9-97a5-4544-9814-99b685f0d436" data-name="&lt;Compound Path&gt;"
                class="be7dd154-90ee-45f6-a47e-11a6c4eceb87"
                d="M15,2H3.8A2.8,2.8,0,0,0,1,4.8V16H12.2A2.8,2.8,0,0,0,15,13.2V2Z" />
              <path class="dd12900e-6340-4a89-b921-0b1d5cffc735"
                d="M4,4h9a0,0,0,0,1,0,0v6a0,0,0,0,1,0,0H3a0,0,0,0,1,0,0V5A1,1,0,0,1,4,4Z" />
              <rect id="7d4ed2c6-f916-40cf-acce-d794196da080" data-name="&lt;Path&gt;"
                class="be7dd154-90ee-45f6-a47e-11a6c4eceb87" x="5" width="2" height="5" />
              <rect id="a37c2eb5-9844-41fa-8d51-9b1b7c64de14" data-name="&lt;Path&gt;"
                class="be7dd154-90ee-45f6-a47e-11a6c4eceb87" x="9" width="2" height="5" />
            </g>
          </svg>
          {{rateValidityText}}
        </a>
        <a href="javascript:;" class="grid-delete" (click)="deletepublishRecord()"
          [ngClass]="{'no-drop': !delPublishRates.length}">
          <!-- <img src="../../../../../../assets/images/icons/icon_delete_red.svg" alt="del_icon" class="icon-size-16" /> -->
          <svg class="delete-icon icon-size-16 mr-2" id="317c8c47-17e2-4e96-9063-97bc9a32118b" data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <defs>
              <style>
                .a2933809-f108-463d-a7d6-9972aa735edc {
                  fill: #d32020;
                }
              </style>
            </defs>
            <title>icon</title>
            <g id="9ddd7984-9517-4e7f-881d-6292000e8e8a" data-name="delete">
              <rect class="a2933809-f108-463d-a7d6-9972aa735edc" y="2" width="16" height="2" />
              <rect class="a2933809-f108-463d-a7d6-9972aa735edc" x="5" width="6" height="2" />
              <path class="a2933809-f108-463d-a7d6-9972aa735edc"
                d="M2,5v9a2,2,0,0,0,2,2h8a2,2,0,0,0,2-2V5Zm5,9H5V7H7Zm4,0H9V7h2Z" />
            </g>
          </svg>
          Delete
        </a>
      </div>
    </div>
    <!-- <table id="publishRateTable" cellspacing="0" #publishByair class="row-border hover"></table> -->
    <app-ui-table *ngIf="allRatesList" [tableType]="'publishFCL'" [tableData]="allRatesList"
      (checkedRows)="tableCheckedRows($event)" (sorting)="sortedFilters('air', $event)"
      (pageEvent)="paging($event, 'publish')" [totalRecords]="totalPublishedRecords" [containerLoad]="'LCL'"
      [transMode]="'AIR'" [incomingPage]="pageNo">
    </app-ui-table>
    <div class="text-center" *ngIf="!allRatesList">
      No Records Found
    </div>
    <app-loader-main *ngIf="publishloading"></app-loader-main>
  </section>
  <section class="term-cond">
    <div class="row">
      <div class="col-12">
        <hr class="hr-solid mt-4">
        <div class="policyEditor mb-4 mt-4 d-flex justify-content-between align-items-center">
          <h5 class="add-rate-head">Terms & Conditions</h5>
          <button *ngIf="disable" class="btn btn-primary btn-lg hvr-sweep-to-right pull-right pr-5 pl-5"
            (click)="disable = !disable">
            EDIT
          </button>
        </div>
        <div class="form-group" *ngIf="!disable && disable != undefined">
          <quill-editor [(ngModel)]="editorContent" [options]="editorOptions" (blur)="onEditorBlured($event)"
            (focus)="onEditorFocused($event)" (ready)="onEditorCreated($event)" (change)="onContentChanged($event)">
          </quill-editor>
        </div>
        <div *ngIf="disable" class="editor" [innerHTML]="editorContent">
        </div>
        <button *ngIf="!disable" class="btn btn-primary btn-lg hvr-sweep-to-right pull-right pr-5 pl-5 mt-4"
          type="button" [disabled]="!editorContent" (click)="saveTermNcond()">
          SAVE
        </button>
      </div>
    </div>
  </section>
</section>