<section class="warehouseList" *ngIf="!wareHouseDetTemplate">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-6 d-flex align-items-center">
          <h5 class="m-0">You have {{ allWareHouseList.length }} warehouse</h5>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <button (click)="addAnotherWarehouse()"
            class="btn btn-primary hvr-sweep-to-right pull-right text-uppercase pt-2 pb-2 pl-3" type="button">
            <span *ngIf="allWareHouseList && allWareHouseList.length; else other">Add Another Warehouse</span>
            <ng-template #other>Add Warehouse</ng-template>
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr class="hr-solid mt-3" />
  <section class="warehouseInfo" *ngIf="allWareHouseList && allWareHouseList.length">
    <div class="row mb-3 search-bar">
      <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-4 d-flex align-items-center record-count">
        Showing
        {{(allWareHouseList | filterByCheckbox : activeStatus : inActiveStatus | paginate : paginationConfig).length}} -
        {{allWareHouseList.length}}
      </div>
      <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 col-8 warehouse-search">
        <input type="text" class="form-control" placeholder="Search by location or title"
          [(ngModel)]="wareHouseTitle" />
      </div>
      <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 mt-xl-0 mt-lg-0 mt-md-3 mt-3 mt-sm-3 col-12 d-flex justify-content-end align-items-center warehouse-status">
        <label class="m-0 mr-2">SHOW :</label>
        <div class="fancyOptionBoxes mr-2">
          <input id="checkboxOne" type="checkbox" [checked]="activeStatus"
            (click)="statusType('activeStatus', $event)" />
          <label for="checkboxOne"> <span></span> Active </label>
        </div>
        <div class="fancyOptionBoxes">
          <input id="checkboxTwo" type="checkbox" [checked]="inActiveStatus"
            (click)="statusType('inActiveStatus', $event)" />
          <label for="checkboxTwo"> <span></span> Inactive </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-4"
          *ngFor="let wareHouse of allWareHouseList | search : wareHouseTitle | filterByCheckbox : activeStatus : inActiveStatus | paginate: paginationConfig"
          [ngClass]="{'inActive' : wareHouse.IsBlocked, 'noRate' : !wareHouse.IsRateAvailable}">
          <div class="card-body">
            <div class="row mt-1">
              <div class="col-xl-3 col-lg-3 col-md-5 col-sm-5 col-12">
                <div *ngFor="let image of wareHouse.WHParsedMedia; let i=index"
                  (click)="openGallery(i, wareHouse.WHParsedMedia)">
                  <div class="gallery-section" *ngIf="i==0">
                    <div class="images-carousel">
                      <img [src]="image.thumb" *ngIf="image.DocumentUploadedFileType != 'mp4'" />
                      <div class="box-content"></div>
                      <div class="gallery-section-item d-flex justify-content-center align-items-center">
                        <img src="../../../../assets/images/icons/icon_pictures.svg" alt="icon" class="icon-size-14 mr-1">
                        {{wareHouse.WHParsedMedia.length}}
                      </div>
                    </div>
                    <div class="video-icon" *ngIf="wareHouse.videoURL" (click)="openVideo(wareHouse.videoURL, $event)">
                      <a href="javascript:;">
                        <i class="fa fa-play"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-1 col-xl-6 col-lg-6 col-md-7 col-sm-7 col-12 Wcontent">
                <h5 class="card-title">{{ wareHouse.WHName }}</h5>
                <div class="warehousing-content">
                  <ul class="list-group">
                    <li class="list-group-item mr-3">
                      <img src="../../../assets/images/icons/Icons_Location-grey.svg" alt="icon"
                        class="icon-size-16 mr-2" />
                      <span>
                        {{ wareHouse.Location}}
                      </span>
                    </li>
                    <li class="list-group-item mr-4">
                      <img src="../../../assets/images/icons/icon_grid.svg" alt="icon" class="icon-size-14 mr-2" />
                      {{ wareHouse.TotalCoveredArea }}
                      {{ wareHouse.TotalCoveredAreaUnit }}
                      <!-- <sup>2</sup> -->
                    </li>
                  </ul>
                  <p class="warehousing-desc mt-3 mb-1">
                    {{ wareHouse.WHDesc | limitTo : 135 }}
                  </p>
                  <div class="warehouse-features d-flex">
                    <div class="icons" *ngFor="let facilities of wareHouse.FacilitiesProviding">
                      <span class="hvr-icon-pulse-shrink footer-link" placement="top" ngbTooltip="Bonded Warehouse"
                        *ngIf="facilities.BusinessLogic == 'IsBondedWarehouse'" [ngClass]="{
                            'warehouse-features-active':
                              facilities.BusinessLogic == 'IsBondedWarehouse' &&
                              facilities.IsAllowed
                          }">
                        <img src="../../../assets/images/icons/Icons_Warehousing_green.svg" alt="footer icon"
                          class="hvr-icon" />
                      </span>
                      <span class="hvr-icon-pulse-shrink footer-link" placement="top" ngbTooltip="Temp. Controlled"
                        *ngIf="
                            facilities.BusinessLogic == 'IsTempratureControlled'
                          " [ngClass]="{
                            'warehouse-features-active':
                              facilities.BusinessLogic ==
                                'IsTempratureControlled' && facilities.IsAllowed
                          }">
                        <img src="../../../assets/images/icons/Weight-Icon_1.svg" alt="footer icon" class="hvr-icon" />
                      </span>
                      <span class="hvr-icon-pulse-shrink footer-link" placement="top" ngbTooltip="Transport Available"
                        *ngIf="facilities.BusinessLogic == 'IsTransportAvailable'" [ngClass]="{
                            'warehouse-features-active':
                              facilities.BusinessLogic == 'IsTransportAvailable' &&
                              facilities.IsAllowed
                          }">
                        <img src="../../../assets/images/icons/Icons_Cargo_Truck_blue.svg" alt="footer icon"
                          class="hvr-icon" />
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 flex-column d-flex justify-content-center">
                <button (click)="goToDetail(wareHouse.WHID, 'rate')"
                  class="btn btn-outline-primary hvr-sweep-to-right rate-btn pull-right text-uppercase"
                  *ngIf="!wareHouse.IsRateAvailable">
                  Add rates
                </button>
                <button (click)="goToDetail(wareHouse.WHID, 'rate')"
                  class="btn btn-primary hvr-sweep-to-right rate-btn pull-right text-uppercase"
                  *ngIf="wareHouse.IsRateAvailable">
                  View rates
                </button>
                <div class="noti" *ngIf="!wareHouse.IsRateAvailable">
                  Add rates in order to appear in search result.
                </div>
              </div>
            </div>
            <img src="../../../../../../assets/images/icons/menu.svg" class="icon-size-16 warehouse-options pointer"
              placement="bottom-right" [ngbPopover]="option" />
            <ng-template #option>
              <div class="option-popup fadeIn animated">
                <ul class="list-group">
                  <li class="list-group-item" (click)="goToDetail(wareHouse.WHID, 'edit')">
                    <img src="../../../../../../assets/images/icons/warehouse-edit-icon.svg" class="icon-size-16"
                      alt="icon" /><span>Edit Info / Rates</span>
                  </li>
                  <li class="list-group-item">
                    <img src="../../../../../../assets/images/icons/Icons_Calendar.svg" class="icon-size-16"
                      alt="icon" />
                    <span>Active / Inactive
                      <div class="switch-box pull-right">
                        <ui-switch
                          (change)="wareHouse.IsBlocked = !wareHouse.IsBlocked; activeToggler(wareHouse, wareHouse.IsBlocked)"
                          [checked]="!wareHouse.IsBlocked">
                        </ui-switch>
                      </div>
                      <span class="warehouse-status" *ngIf="wareHouse.IsBlocked">Currently: Inactive</span>
                      <span class="warehouse-status" *ngIf="!wareHouse.IsBlocked">Currently: Active</span>
                    </span>
                  </li>
                  <li class="list-group-item">
                    <img src="../../../../../../assets/images/icons/reload-icon.svg" class="icon-size-16"
                      alt="icon" /><span>View Log</span>
                  </li>
                  <hr class="hr-solid mb-2">
                  <li class="list-group-item" (click)="deleteWarehouse(wareHouse.WHID)">
                    <img src="../../../../../../assets/images/icons/icon_delete_red.svg" class="icon-size-16"
                      alt="icon" /><span>Delete</span>
                  </li>
                </ul>
              </div>
            </ng-template>
          </div>
        </div>
        <pagination-controls (pageChange)="onPageChange($event)" directionLinks="directionLinks" autoHide="autoHide"
          responsive="responsive" previousLabel="" nextLabel=""
          *ngIf="(allWareHouseList | filterByCheckbox : activeStatus : inActiveStatus).length > paginationConfig.itemsPerPage">
        </pagination-controls>
      </div>
    </div>
  </section>
  <div class="overflow-hidden row"
    *ngIf="!loading && (!allWareHouseList || (allWareHouseList &&  !(allWareHouseList | search : wareHouseTitle).length) || (allWareHouseList &&  !(allWareHouseList | filterByCheckbox : activeStatus : inActiveStatus).length ))">
    <div class="animated bounceInDown col-12">
      <p class="card p-1 text-center">You don't have any warehouse yet</p>
    </div>
  </div>
  <app-loader-main *ngIf="loading"></app-loader-main>
</section>

<section *ngIf="wareHouseDetTemplate">
  <a class="hvr-icon-back grey-anc-btn mb-4" href="javascript:;" (click)="warehouseList()" title="Back to warehouse">
    <img alt="icon" class="icon-size-14 hvr-icon" src="../../../../../assets/images/icons/icon_arrow_left.svg">
    <span class="link-hover-grey">Go Back To Listing</span>
  </a>
  <app-warehouse [whID]='warehouseID' [step]="step" (wareHouseTemplateChange)="wareHouseDetTemplate = $event">
  </app-warehouse>
</section>