@import '../../../../../assets/scss/_variables.scss';
.step {
    box-shadow: 0px 1px 0px 0px $grey-border;
    padding-bottom: 7px;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    letter-spacing: 1px;
    position: relative;
    &.isActive {
        box-shadow: 0px 3px 0px 0px $primary-color !important;
        .step-title {
            color: rgba($color: $primary-color, $alpha: 1);
        }
    }
    &.completed {
        box-shadow: 0px 3px 0px 0px $primary-color !important;
        .completed {
            position: absolute;
            left: 0px;
            .step-number {
                width: 12px;
                transition: 0.5s;
            }
        }
        .step-title {
            color: rgba($color: $primary-color, $alpha: 1);
        }
    }
    .step-title {
        color: rgba($color: $dark-grey-blue, $alpha: 0.6);
        font-family: $font-proxima;
        font-weight: $font-weight-mid;
        font-size: $font-size-medium;
    }
}