@import "../../../../../assets/scss/_variables";
.billing {
    &-summary {
    background: $white-color;
    padding: 23px 35px 22px 35px;
    min-height: 150px; 
    border: 1px solid #e9e9e9;
    .summarySection {
        &:first-child,
        &:nth-child(2) {
            &::after {
                content: "";
                height: 110px;
                width: 1px;
                position: absolute;
                right: 15px;
                border-right: 1px dashed $grey-border;
                top: -5px;
            }
            @media (max-width: $screen-lg-screen) {
                &:after {
                    display: none;
                }
            }
        }
        .summaryTitle {
            h5 {
                color: $secondary-grey;
                $font-family: $font-pragmatica;
                font-weight: $font-weight-mid;
                font-size: $font-size-medium;
                text-transform: uppercase;
            }
        }
        .summaryQuantity {
            .rates {
                margin-left: 2.8rem;
                small {
                    font-size: $font-size-medium;
                    font-family: $font-proxima;
                    font-weight: $font-weight-mid;
                    vertical-align: top;
                }
                span {
                    font-size: $font-size-large + $font-size-large;
                    font-weight: $font-weight-mid;
                    line-height: 1;
                }
            }
        }
    }
    @media (max-width: $screen-lg-screen) {
        .summarySection {
            padding: 8px 0;
            margin: 5px 0;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
    .overview{
        .PT_express_checkout {
            position: relative;
            #en_button {
                background: none;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%
            }
        }
    }

.invoicesOverview {
    .search {
        width: 300px;
        position: relative;
        input {
            &:focus {
                outline: unset;
                box-shadow: none;
            }
        }
        img {
            position: absolute;
            right: 15px;
            top: 11px;
        }
    }
    .dropdown {
        &-toggle {
            color: $secondary-grey;
        }
        .sortFilter {
            padding: 0;
            background: $white-color;
            border: 1px solid $primary-color !important;
            box-shadow: 0px 0px 1px 0px $primary-color !important;
            right: 0px !important;
            left: auto !important;
            z-index: 9999;
            .list-group {
                padding: 0;
                &-item {
                    border: none;
                    padding: 13px 10px 13px 15px;
                    line-height: 1;
                    transition: 0.8s;
                    span {
                        font-size: $font-size-base;
                        transition: 0.8s;
                    }
                    &:hover {
                        background: $dropdown-color;
                        cursor: pointer;
                    }
                }
            }
        }
        span {
            font-size: $font-size-base;
            text-transform: uppercase;
            color: $dark-grey-blue;
            font-weight: $font-weight-mid;
        }
    }
}
.dataTables_filter{
  display: none
}
.overdue{
  color: $danger-color !important;
  span{
    color: $danger-color !important;
    font-weight: $font-proxima-weight-semibold;
    font-style: normal !important;
  }
}
    .pay-status{
        border-radius: 50%;
        width: 6px;
        height: 6px;
        padding: 0;
    }
    .billingInvoices {
        .dataTables_scroll {
        .dataTables_scrollBody {
            .dataTable {
            tbody {
                td {
                &:first-child {
                    font-size: $font-size-large;
                    color: $primary-color;
                    font-family: $font-proxima;
                    font-weight: $font-proxima-weight-semibold;
                }
                }
            }
            }
        }
        }
    }
}



