@import "../../../../../assets/scss/_variables";

.view-booking {
  &-title {
    font-size: $font-size-large + $font-size-large;
    font-family: $font-pragmatica;
    font-weight: $font-weight-mid;
    color: $text-color-default;
    margin-bottom: 0px;

    @media (max-width: $screen-xs-screen) {
      font-size: 1.5rem;
    }
  }

  .vendor-details-readMore {
    color: $primary-color !important;
  }

  &-info {
    font-size: $font-size-base;
    font-weight: $font-weight-mid;
    color: $text-grey;
    text-transform: uppercase;
  }

  &-top-btn {
    @media (max-width: $screen-md-screen) {
      text-align: left !important;
    }

    a {
      font-size: $font-size-base;
      color: $dark-grey-blue;
      font-weight: $font-proxima-weight-semibold;
      font-family: $font-proxima;
      text-transform: uppercase;
    }
  }

  .status {
    // margin-bottom: 38px;

    .card {
      border: 1px solid $boxes-border-grey;
      border-radius: 2px;

      &-body {
        padding: 1.56rem 1.55rem;
      }
    }

    &-label {
      display: block;
      font-size: $font-size-medium;
      color: $dark-grey-blue;
      font-weight: $font-weight-mid;
      font-family: $font-proxima;
      text-transform: uppercase;
      margin-bottom: 0.25rem;
    }

    strong {
      font-size: $font-size-large + 0.25rem;
      color: $text-color-default;
      font-weight: $font-weight-mid;
      font-family: $font-pragmatica;
      text-transform: capitalize;

      .custom-clearence-status{
        font-size:$font-size-medium;
      }

      &.cancelStatus {
        color: $danger-color;
      }

      a {
        font-size: $font-size-medium;
        color: $secondary-color;
        font-family: $font-proxima;
        font-weight: $font-proxima-weight-semibold;
        margin-top: 0.25rem;

        &:focus {
          outline: 0;
        }

        span.link-hover-danger {
          color: $danger-color;
        }
      }
    }
  }

  &-shipment-detail {
    margin-bottom: 40px;

    h5 {
      font-size: $font-size-base;
      font-family: $font-proxima;
      font-weight: $font-weight-normal;
      color: $color-topmenu;
      text-transform: uppercase;
    }

    .wareHouse {
      font-size: 1.25rem;
    }

    &-heading {
      font-size: 1.25rem;
      font-family: $font-pragmatica;
      font-weight: $font-weight-mid;
      color: $text-color-default;
      margin-top: 2.4rem;
      margin-bottom: 1rem;
    }

    .card-title {
      margin-bottom: 0;

      h5 {
        font-size: $font-size-medium;
        font-weight: $font-weight-mid;
        text-transform: uppercase;
        font-family: $font-proxima;
        color: $secondary-grey;
        word-spacing: 3px;
        margin-bottom: 0;
        letter-spacing: 1px;
      }

      .edit-info {
        font-family: $font-proxima;
        font-size: $font-size-base;
        color: $color-topmenu;
        font-weight: $font-weight-mid;
        letter-spacing: 1px;
      }

      img {
        position: relative;
        top: -2px;
      }
    }

    .logo {
      border: solid 1px $theme-border-grey;
      text-align: center;
      margin: 10px 0px;
      float: left;
      width: 64px;
      height: 64px;
      margin-right: 15px;
      overflow: hidden;
      background-color: $white-color;
      position: relative;

      img {
        width: 85%;
        height: 90%;
        margin: 0;
        background: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        object-fit: contain;
      }
    }

    .company {
      text-align: left;
      float: left;
      margin-top: 18px;

      span {
        font-size: $font-size-large;
        text-align: left;
        font-family: $font-pragmatica;
        font-weight: $font-weight-normal;
      }

      p {
        font-size: $font-size-large + 0.25rem;
        font-family: $font-pragmatica;
        font-weight: $font-weight-mid;
        text-align: left;
        line-height: 1.2;
        max-width: 300px;
      }
    }
    .notify {
      font-family: $font-proxima;
      font-size: $font-size-medium;
      color: $color-topmenu;
      margin-top: 0.5rem;
      display: inline-block;
      font-weight: 600;
    }

    &-btn {
      min-width: 180px;
      min-height: 40px;
      font-family: $font-proxima;
      font-weight: $font-proxima-weight-semibold;
      text-transform: uppercase;
    }

    .grey-background {
      background: $modal-header-background;
      border-top: 0px;
.container-link {
      color:$primary-color;
      font-weight:$font-weight-mid;
      text-decoration: underline !important;
      font-family: $font-proxima;

}
    }

    &-right {
      .position-sticky {
        top: 2%;
      }

      /*----BILLING SECTION - Start ----*/
      .card {
        .map {
          agm-map {
            height: 160px;
          }
        }

        &-title {
          font-size: $font-size-medium;
          font-family: $font-proxima;
          color: $secondary-grey;
          font-weight: $font-weight-mid;
          word-spacing: 3px;

          img {
            width: 16px;
            height: 16px;
          }
        }

        &-body {
          &.d-flex {
            border-bottom: 1px solid $boxes-border-grey;
          }

          h6 {
            font-weight: $font-proxima-weight-semibold;
            font-family: $font-proxima;
            font-size: $font-size-large;
            margin-bottom: 0;
          }

          .ports {
            font-family: $font-proxima;
            font-size: $font-size-base;
            max-width: 94px;
            width: 100%;

            &-direction {
              margin: 22px 0;
              position: relative;
              right: 10px;
              top: 5px;
            }

            &-title {
              font-size: $font-size-medium;
              font-family: $font-proxima;
              font-weight: $font-weight-mid;
              color: $color-topmenu;
              margin-bottom: 5px;
            }

            &-label {
              font-size: $font-size-medium;
              color: $route-large-title-color;
              margin-bottom: 0;
              font-weight: $font-proxima-weight-semibold;
              font-family: $font-proxima;
              line-height: 1;
            }

            .d-flex {
              display: -ms-grid !important;
              display: grid !important;

              small {
                max-width: 100% !important;
                font-size: $font-size-medium;
                color: $place-holder-color;
                font-weight: $font-weight-mid;
                font-family: $font-proxima;
                vertical-align: bottom;
                line-height: 1.2;
                max-width: 78px;
                word-break: break-word;
              }
            }

            .flag-icon-20-12 {
              img {
                border: 1px solid $primary-grey;
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }

        .list-group {
          .list-group-item {
            font-size: $font-size-base;
            padding: 0.2rem;
            border: 0;
            display: flex;
            justify-content: space-between;

            .long-text {
              font-family: $font-proxima;
              font-size: $font-size-medium;
              color: $route-large-title-color;
              font-weight: $font-weight-mid;

              img.icon-size-16 {
                margin-top: -2px;
              }

              b {
                font-weight: $font-weight-mid;
              }
            }

            .catDetail {
              display: flex;
              flex-direction: column;

              .amount-text {
                font-family: $font-proxima;
                font-size: $font-size-medium;
                color: $route-large-title-color;
                line-height: 1;
                // text-align: right;
              }
            }

            &:last-child {
              padding-bottom: 0;
            }

            .category {
              line-height: 1;

              .icon {
                width: 16px;
                height: 16px;
                margin-right: 13px;
                margin-top: -2px;
              }
            }
          }
        }
      }

      /*----BILLING SECTION - End ----*/
      .helpSupport {
        &-head {
          h5 {
            float: left;
            font-size: $font-size-large;
            font-weight: $font-proxima-weight-semibold;
            color: $color-menuheading-black;
            padding-left: 10px;
            margin-bottom: 8px;
            text-transform: capitalize;
            padding-top: 1px; //text-shadow: 0.5px 0px $text-color-default;
          }
        }

        img {
          width: 20px;
          height: 20px;
          float: left;
        }

        &-content {
          float: left;
          width: 100%;

          h4 {
            font-size: $font-size-base;
            color: $dark-grey-blue;
            font-family: $font-proxima;
            text-transform: uppercase;
            font-weight: $font-proxima-weight-semibold;
            margin-top: 15px;
            margin-bottom: 5px;
          }

          .address {
            font-size: $font-size-large;
            font-family: $font-proxima;
            font-weight: $font-weight-normal;
            color: $text-color-default; // width: 85%;
            line-height: 1.4;
          }

          .helpLine {
            @extend .address;
          }

          .dotted {
            border-bottom: 1px dashed $grey-border;
          }
        }

        &-footer {
          float: left;
          width: 100%;

          p {
            font-size: $font-size-medium;
            font-family: $font-proxima;
            padding-top: 17px;
            margin-bottom: 0;

            a {
              position: relative;
              color: $text-color-default;
              text-decoration: none;
              line-height: 24px;
              font-weight: $font-weight-mid;
              width: auto;
            }
          }
        }
      }
    }

    .contact {
      &-name {
        font-family: $body-fontfamily;
        font-weight: $font-weight-mid;
        font-size: $font-size-large;
        color: $text-color-default;
      }

      &-address {
        font-family: $font-proxima;
        font-size: $font-size-large;
        color: $secondary-text-color;

        &.unread {
          max-height: 76px;
          overflow: hidden;
        }

        span {
          word-break: break-all;
        }
      }

      .hvr-icon-forward {
        font-size: $font-size-medium;
        color: $secondary-color;
        font-family: $font-proxima;
        font-weight: $font-proxima-weight-semibold;
        margin-left: 1.3rem;
      }



      &-info {
        @extend .contact-address;
      }
    }
  }

  .media {
    .align-self-start {
      width: 16px;
      height: 16px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .details {
    .row {
      .col-4 {
        display: flex;
      }
    }

    .badge {
      display: flex;
      align-self: center;
    }

    button.btn {
      padding: 0 1.5rem 0 1.5rem;
      height: 33px;
      line-height: 30px;

      &.disable {
        color: $color-topmenu !important;
      }
    }

    p {
      font-family: $font-pragmatica;
      font-size: $font-size-large;
      font-weight: $font-weight-mid;
      color: $text-color-default;
      line-height: 1;
      margin-bottom: 0px;
    }
  }

  &-document {
    margin-bottom: 16px;

    .card {
      .list-group {
        .list-group-item {
          padding-left: 20px !important;
          margin: 0;

          a.doc-title {
            color: inherit;
            cursor: default;

            &.primary-text {
              cursor: pointer;
              color: $primary-color;
              font-family: $font-proxima;
              font-weight: $font-weight-mid;

              .sub-text {
                font-family: inherit;
                font-size: $font-size-base;
                color: $place-holder-color;
                line-height: 1;
              }

              &:before {
                content: url("../../../../../assets/images/icons/icon_check.svg");
                height: 9px;
                width: 12px;
                position: absolute;
                left: 0;
                top: 13px;
              }
            }
          }
        }
      }
    }

    &-heading {
      margin-bottom: 16px !important;
      font-family: $font-pragmatica;
      font-size: $font-size-large + 0.25rem;
      color: $text-color-default;
      font-weight: $font-weight-mid;
      margin-top: 42px;
    }

    &-title {
      font-size: $font-size-medium;
      font-family: $font-proxima;
      font-weight: $font-proxima-weight-semibold;
      color: $dark-grey-blue;
      text-transform: uppercase;
      margin: 1.875rem 1.25rem 0;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.125);
      padding-bottom: 10px;

      img {
        border: 1px solid $primary-grey;
        height: 12px;
        margin-bottom: 0.2rem;
      }
    }

    .list-group {
      margin-top: 15px;

      &-item {
        border: 0px;
        display: flex;
        justify-content: space-between;
        margin: 0 1.25rem;
        padding: 0.75rem 0rem !important;
        font-family: $font-proxima;
        font-size: $font-size-large;
        color: $text-color-default;
        font-weight: $font-weight-normal;

        &:last-child {
          border: 0px;
        }

        button.btn {
          padding: 0 1.5rem 0 1.5rem;
          height: 33px;
          line-height: 30px;

          &.disable {
            color: $color-topmenu !important;

            &:hover {
              box-shadow: none !important;
            }
          }

          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }

  ngb-popover-window {
    width: 20rem;
    border: none;
    top: 66px !important;

    .arrow {
      &:after,
      &:before {
        border-bottom-color: $white-color;
      }
    }

    .popover {
      border: 0;

      &-body {
        background: $white-color;
        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
        // height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 4px;

        .contact-popup {
          text-align: left;

          a {
            font-size: $font-size-large;
            font-family: $font-proxima;
            margin-bottom: 5px;
            display: block;
            min-width: 180px;
            color: $dark-grey-blue;
          }

          p {
            font-size: $font-size-large + 0.125rem;
            font-family: $font-proxima;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .other-document {
    .card {
      border: none;

      &-header {
        background: none;
        border: none;
        padding: 0;

        button.btn.btn-link {
          padding-left: 0px;
          padding-right: 0px;
        }

        .accordion {
          &-title {
            line-height: 15px;
            margin: 0;

            span {
              margin: 0;
              font-family: $font-proxima;
              font-size: $root-font-size;
              color: $color-topmenuactive;
            }
          }

          &-time {
            margin: 0;
            color: $text-grey;
            font-size: $font-size-base;
            margin-left: 1.8rem;
          }

          .check-icon {
            position: relative;
            top: 3px;
            left: -4px;
          }
        }
      }

      &-body {
        .uploader {
          &-cancel-btn {
            font-family: $font-proxima;
            font-size: $font-size-base;
            color: $color-topmenu;
            font-weight: $font-proxima-weight-semibold;
            text-transform: uppercase;
          }
        }
      }
      &:nth-child(1) {
        border-radius: 3px 3px 0 0;
      }

      &:nth-child(2) {
        border-radius: 0;
      }

      &:nth-child(3) {
        border-radius: 0 0 3px 3px;
        border-top: 0px;
      }
    }
  }

  a.addAnother {
    color: $primary-color;
    font-family: $font-proxima;
    font-weight: $font-weight-mid;
    font-size: $font-size-medium;
    position: relative;
  }

  .fieldError {
    border-color: $danger-color;
    transition: ease-in 0.8s;
  }

  p.formError {
    line-height: 1;
    margin-top: 4px;
    width: 100%;
    color: $danger-color;
    font-size: $font-size-medium - 0.025;
    text-align: left;
  }

  .warehousing-content {
    .list-group {
      li {
        border: 0px;
        padding: 0;
        font-size: $font-size-medium;
        font-family: $font-proxima;
        color: $text-color-default;
        line-height: 1;
        margin-bottom: 15px;
        background-color: transparent;

        .tooltip {
          width: 16rem;

          .tooltip-inner {
            width: 16rem;
            max-width: 16rem;
          }
        }
      }
    }

    .warehouse-features {
      .icons {
        margin-right: 15px;

        img {
          width: 1.1rem;
          filter: grayscale(100%);
          opacity: 0.5;
        }

        .warehouse-features-active {
          img {
            filter: grayscale(0%);
            opacity: 1;
          }
        }
      }
    }

    .warehousing-desc {
      font-family: $font-proxima;
      font-size: $font-size-medium;
      color: $secondary-text-color;
    }
  }

  .gallery-section {
    border: 1px solid $grey-border;
    position: relative;
    width: 180px;
    text-align: center;
    overflow: hidden;

    img,
    video {
      max-width: 100%;
      height: 136px;
    }

    .box-content {
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, -100%, 0px);
        transition: all 0.6s ease 0s;
      }
    }

    &-item {
      position: absolute;
      top: 8px;
      right: 5px;
      background: #000000b0;
      color: $color-white;
      border-radius: 12px;
      font-weight: $font-weight-bold;
      font-family: $font-proxima;
      font-size: $font-size-base;
      padding: 0.21rem 0.68rem;
    }

    &:hover {
      .box-content {
        &::before {
          transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, 100%, 0px);
        }
      }
    }
  }

  .warehousing-header {
    .icon {
      margin-top: 1rem;
    }

    .lable {
      text-transform: uppercase;
      font-size: $font-size-base;
      color: $secondary-grey;
    }

    h4 {
      font-size: $font-size-large;
      color: $text-color-default;
      font-weight: $font-weight-mid;
      margin-left: 1.2rem;
    }
  }

  .schedule {
    .form-group {
      label {
        font-size: 0.75rem;
        font-family: $font-proxima;
        font-weight: $font-weight-normal;
        color: $color-topmenu;
      }
    }
    .shippingline {
      position: relative;
      &-container {
        position: absolute;
        img {
          width: 1.5rem;
          height: 1.5rem;
          top: 0.75rem;
          position: absolute;
          left: 1rem;
        }
      }
    }
  }

  .change-sche {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }

  .fa-caret-down {
    transition: 0.5s;
    &.Show {
      transform: rotate(-92deg) !important;
    }
  }
}







@media (max-width: $screen-sm-screen) {
.view-booking {
  .status {
      strong {
        font-size:$font-size-large;
      }
  }
  &-shipment-detail {
           .customer-detail {
            padding-right: 1rem !important;
               }
               .customer-name {
                padding-left: 1rem !important;
               }

              &-btn {
              width:100% ;
                  }
  }


  &-document {
    .list-group {
     &-item {
      flex-direction: column;
      .upload-documents {
        flex-direction: column;
        align-items: start !important;

        span  {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }
     }
    }
  }
}
}
