<!-- User login Modal -->
<div class="updatePassword">
    <div class="user-modal animated fadeIn">
      <div class="modal-header">
        <h4 class="user-modal-title">Change Your Password?</h4>
        <p>Manage your account detail.</p>
        <a class="pointer crossIcon" (click)="closeModal()">
          <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
      </a>
      </div>
      <div class="modal-body">
          <form class="form-component" autocomplete="false" novalidate [formGroup]="updatePassForm" (ngSubmit)="updatePassword(updatePassForm.value)">

              <!-- input row -->
               <div class="row form-group">
                 <div class="col">
                   <label>Password</label>
                   <i class="fa fa-eye pointer" aria-hidden="true" [ngClass]="colorEye" (click)=confirmPassword($event)></i>
                   <input type="password" class="form-control" [ngClass]="{'fieldError': passwordError}" autocomplete ="new-password" (focus) ="passwordError=false" (focusout)=" errorMessages()" formControlName="updatePassword"  placeholder="Enter your unique password" >
                   <span *ngIf="passwordError">
                   <p class="formError animated fadeIn" *ngIf="updatePassForm.controls['updatePassword'].hasError('required') && (updatePassForm.controls.updatePassword.dirty || updatePassForm.controls.updatePassword.touched)">This field is required!</p>
                   <p class="formError animated fadeIn" *ngIf="updatePassForm.controls['updatePassword'].hasError('minlength') && (updatePassForm.controls.updatePassword.dirty || updatePassForm.controls.updatePassword.touched)">Password should be between 6 to 30 characters</p>
                   <p class="formError animated fadeIn" *ngIf="updatePassForm.controls['updatePassword'].hasError('maxlength') && (updatePassForm.controls.updatePassword.dirty || updatePassForm.controls.updatePassword.touched)">Password should be between 6 to 30 characters</p>
                  </span>
                  </div>
               </div>
              <!--/ input row -->

              <!-- button row -->
              <div class="col update-btn">
                <div class="form-group">  
                  <button type="submit" class="btn btn-primary pull-right full-width-btn hvr-sweep-to-right" [disabled]="!updatePassForm.controls['updatePassword'].value">
                  Update Password
                  </button>
                </div>
               </div>
              <!--/ button row -->
            </form>
      </div>
    </div>
  
  </div>
  <!--/ User login Modal -->
    