@import "../../../../assets/scss/_variables";

.updatePassword {
    .user-modal {
        .modal-header {
            padding: 10px 32px;
            background: $modal-header-background;
            display: block;
            h4 {
                margin: 0px;
                text-shadow: 0px 0px $text-color-default;
                font-size: 22px;
                margin-top: 4px;
                font-weight: 400;
                font-family: 'pragmatica', sans-serif;
            }
            p {
                font-size: 14px;
                font-weight: 300;
                margin-top: 4px;
                margin-bottom: 0px;
            }
            a.crossIcon {
                position: absolute;
                right: 8px;
                top: 4px;
                width: 14px;
                height: 14px;
                img {
                    width: 100%
                }
            }
        }
        .modal-body {
            padding: 25px 32px;
            .form-component {
                margin: 15px 0px;
                .form-group {
                    margin-bottom: 20px;
                    p.formError {
                        position: absolute;
                        bottom: -35px;
                        color: $danger-color;
                        font-size: $font-size-medium;
                    }
                    label {
                        font-size: 15px;
                        font-weight: 300;
                        margin-bottom: 15px;
                        text-shadow: 0px 1px $text-color-default;
                    }
                    input {
                        height: 50px;
                        border: 1px solid $input-border;
                        color: $text-color-default;
                        font-size: $font-size-medium;
                        padding-left: 15px;
                        font-weight: 100;
                        &.fieldError {
                            border-color: $danger-color;
                            transition: ease-in .8s;
                        }
                    }
                    input[autocomplete=new-password] {
                        padding-right: 45px;
                    }
                    input:focus {
                        border-color: $primary-color;
                        transition: ease-in .8s;
                    }
        
                }
                .btn {
                    font-size: $font-size-large;
                    font-family: $font-proxima !important;
                    font-weight: $font-proxima-weight-semibold;
                    padding: 12px 50px;
                    color: $white-color;
                    background: $secondary-color;
                    text-transform: uppercase;
                    border-radius: 2px;
                    border: 0;
                    &.full-width-btn {
                        width: 100%;
                    }
                    &:disabled {
                        cursor: no-drop;
                        border: 0;
                        background: $btn-disable-background !important;
                        color: $btn-disable-color !important;
                        border-radius: 2px;
                        &:before {
                            background: $btn-disable-background !important;
                            color: $btn-disable-color !important;
                        }
                    }
                    // &:before {
                    //     background: $secondary-color !important;
                    // }
                }
                i.fa.fa-eye {
                    position: absolute;
                    top: 62px;
                    right: 30px;
                    font-size: 16px;
                    color: $text-color-default;
                    &.black {
                        color: $text-color-default
                    }
                    &.grey {
                        color: #afafaf;
                    }
                }
                .update-btn {
                    padding: 0px;
                    margin-top: 40px;
                    .btn {
                        margin-bottom: 25px;
                        font-family: 'proxima-nova', sans-serif;
                    }
                }
            }
        }
    }
}