<section class="warehouseSetup">
  <div class="viewWarehouseDetail" *ngIf="warehouseDetail && whID != '0'">
    <div class="card">
      <div class="card-body p-0">
        <div class="row mt-1">
          <div class="col-xl-3 col-lg-3 col-md-5 col-sm-5 col-12">
            <div *ngFor="let image of warehouseDetail.WHParsedMedia; let i=index"
              (click)="openGallery(i, warehouseDetail.WHParsedMedia)">
              <div class="gallery-section" *ngIf="i==0">
                <div class="images-carousel">
                  <img [src]="image.thumb" *ngIf="image.DocumentUploadedFileType != 'mp4'" />
                  <div class="gallery-section-item d-flex justify-content-center align-items-center">
                    <img src="../../../../assets/images/icons/icon_pictures.svg" alt="icon" class="icon-size-14 mr-1">
                    {{warehouseDetail.WHParsedMedia.length}}
                  </div>
                </div>
                <img *ngIf="!warehouseDetail.WHParsedMedia" src="../../../../../../assets/images/placeholder_image.gif"
                  alt="">
                <div class="video-icon" *ngIf="warehouseDetail.videoURL"
                  (click)="openVideo(warehouseDetail.videoURL, $event)">
                  <a href="javascript:;">
                    <i class="fa fa-play"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-1 col-xl-9 col-lg-9 col-md-7 col-sm-7 col-12 Wcontent">
            <h5 class="card-title">{{ warehouseDetail.WHName }}</h5>
            <div class="warehousing-content">
              <ul class="list-group">
                <li class="list-group-item">
                  <img src="../../../assets/images/icons/Icons_Location-grey.svg" alt="icon"
                    class="icon-size-16 mr-2" />
                  <span>
                    {{ warehouseDetail.Location }}
                  </span>
                </li>
                <li class="list-group-item mr-4">
                  <img src="../../../assets/images/icons/icon_grid.svg" alt="icon" class="icon-size-14 mr-2" />
                  {{ warehouseDetail.TotalCoveredArea }}
                  {{ warehouseDetail.TotalCoveredAreaUnit }}
                  <!-- <sup>2</sup> -->
                </li>
              </ul>
              <p class="warehousing-desc mt-3 mb-1">
                {{ warehouseDetail.WHDesc }}
              </p>
              <div class="warehouse-features d-flex">
                <div class="icons" *ngFor="let facility of facilities">
                  <span class="hvr-icon-pulse-shrink footer-link" placement="top" ngbTooltip="Bonded Warehouse"
                    *ngIf="facility.BusinessLogic == 'IsBondedWarehouse'" [ngClass]="{
                                  'warehouse-features-active':
                                    facility.BusinessLogic == 'IsBondedWarehouse' &&
                                    facility.IsAllowed
                                }">
                    <img src="../../../assets/images/icons/Icons_Warehousing_green.svg" alt="footer icon"
                      class="hvr-icon" />
                  </span>
                  <span class="hvr-icon-pulse-shrink footer-link" placement="top" ngbTooltip="Temp. Controlled" *ngIf="
                                  facility.BusinessLogic == 'IsTempratureControlled'
                                " [ngClass]="{
                                  'warehouse-features-active':
                                    facility.BusinessLogic ==
                                      'IsTempratureControlled' && facility.IsAllowed
                                }">
                    <img src="../../../assets/images/icons/Weight-Icon_1.svg" alt="footer icon" class="hvr-icon" />
                  </span>
                  <span class="hvr-icon-pulse-shrink footer-link" placement="top" ngbTooltip="Transport Available"
                    *ngIf="facility.BusinessLogic == 'IsTransportAvailable'" [ngClass]="{
                                  'warehouse-features-active':
                                    facility.BusinessLogic == 'IsTransportAvailable' &&
                                    facility.IsAllowed
                                }">
                    <img src="../../../assets/images/icons/Icons_Cargo_Truck_blue.svg" alt="footer icon"
                      class="hvr-icon" />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr-solid mt-4">
  </div>
  <h2 *ngIf="!warehouseDetail && whID == '0'">Add a warehouse </h2>
  <p class="sub-title mt-2 mb-3" *ngIf="!warehouseDetail && whID == '0'">
    Add your warehouse and create a listing of available capacity on HashMove
  </p>
  <ngx-stepper #stepper class="warehouse-stepper" [activeStep]="activeStep">
    <ngx-step [label]="'ADD INFO'">
      <section class="warehouse">
        <!--  warehouse-info -->
        <div class="warehouse-info">
          <div class="row">
            <div class="col-12">
              <h5 class="mt-5">General Information</h5>
              <p class="sub-title sub-heading mb-0">General Information about the listing .Enter its title ,
                description, images
              </p>
              <hr class="hr-solid mt-3">
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12">
                  <form autocomplete="off" novalidate [formGroup]="generalForm">
                    <div class="form-group">
                      <label>Listing Name</label>
                      <input type="text" (keypress)="oneSpaceHandler($event)"
                        [ngClass]="{'inputError': whNameError && generalForm.controls['whName'].errors}"
                        (focusout)="errorValidate()" (focus)="whNameError=false" maxlength="100" class="form-control"
                        formControlName="whName"
                        placeholder="Provide a meaningful listing name. e.g. Country - Location.">
                      <span *ngIf="whNameError">
                        <p class="inputError animated fadeIn"
                          *ngIf="generalForm.controls['whName'].hasError('required') && (generalForm.controls.whName.dirty || generalForm.controls.whName.touched)">
                          {{requiredFields}}</p>
                        <p class="inputError animated fadeIn"
                          *ngIf="!generalForm.controls['whName'].hasError('pattern') && generalForm.controls['whName'].hasError('minlength') && (generalForm.controls.whName.dirty || generalForm.controls.whName.touched)">
                          Warehouse name should be minimum 5 characters</p>
                        <p class="inputError animated fadeIn"
                          *ngIf="!generalForm.controls['whName'].hasError('pattern') && generalForm.controls['whName'].hasError('maxlength') && (generalForm.controls.whName.dirty || generalForm.controls.whName.touched)">
                          Warehouse name should not exceed from 100 characters</p>
                        <p class="inputError animated fadeIn"
                          *ngIf="generalForm.controls['whName'].hasError('pattern') && (generalForm.controls.whName.dirty || generalForm.controls.whName.touched)">
                          Please enter valid information</p>
                      </span>
                    </div>
                    <div class="form-group">
                      <label>Property Description</label>
                      <textarea formControlName="whDetail" (keypress)="oneSpaceHandler($event)" cols="30" rows="4"
                        class="form-control"
                        [ngClass]="{'inputError': whDetailError && generalForm.controls['whDetail'].errors}"
                        (focusout)="errorValidate()" (focus)="whDetailError=false"
                        placeholder="Provide details about the property you are listing.">
                      </textarea>
                      <span *ngIf="whDetailError">
                        <p class="inputError animated fadeIn"
                          *ngIf="generalForm.controls['whDetail'].hasError('required') && (generalForm.controls.whDetail.dirty || generalForm.controls.whDetail.touched)">
                          {{requiredFields}}</p>
                        <p class="inputError animated fadeIn"
                          *ngIf="!generalForm.controls['whDetail'].hasError('pattern') && generalForm.controls['whDetail'].hasError('minlength') && (generalForm.controls.whDetail.dirty || generalForm.controls.whDetail.touched)">
                          Warehouse detail should be minimum 10 characters</p>
                        <p class="inputError animated fadeIn"
                          *ngIf="!generalForm.controls['whDetail'].hasError('pattern') && generalForm.controls['whDetail'].hasError('maxlength') && (generalForm.controls.whDetail.dirty || generalForm.controls.whDetail.touched)">
                          Warehouse detail should not exceed from 1000 characters</p>
                        <!-- <p class="inputError animated fadeIn" *ngIf="generalForm.controls['whDetail'].hasError('pattern') && (generalForm.controls.whDetail.dirty || generalForm.controls.whDetail.touched)">
                          Please enter valid information
                        </p> -->
                      </span>
                    </div>
                  </form>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label class="mb-0">Gallery</label>
                    <small class="sub-title">Images show the condition of the property and are very compelling for
                      space seekers.
                    </small>
                    <div class="document-Info d-flex flex-column mt-2">
                      <div class="file-uploader"
                        *ngIf="uploadedGalleries && uploadedGalleries.length < config.maxFilesCount">
                        <app-ng-files-drag-n-upload (filesSelect)="selectDocx($event)" [configId]="'config'">
                          <img src="../../../assets/images/icons/manager-icon.png" />
                          <p class="m-0 mt-3">
                            Drag here or
                            <span class="browse-span">browse</span> to upload </p>
                          <small class="drag-support"> ( Maximum size per document: 5 MB ) </small>
                        </app-ng-files-drag-n-upload>
                      </div>
                      <div class="row uploadedDocx">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-4 col-xs-12 mb-3 uploaded-images"
                          *ngFor="let galleryDocx of uploadedGalleries; let i = index">
                          <div class="display-upload delete">
                            <img
                              *ngIf="((galleryDocx?.DocumentUploadedFileType?.length > 0 && galleryDocx?.DocumentUploadedFileType?.toLowerCase() !== 'mp4') || ( galleryDocx?.FileContent?.length > 0 && galleryDocx?.FileContent[0]?.documentUploadedFileType?.toLowerCase() !== 'mp4'))"
                              [src]="(galleryDocx.DocumentFile)? (baseExternalAssets + galleryDocx.DocumentFile):galleryDocx?.FileContent[0]?.docUrl" />
                            <video
                              *ngIf="((galleryDocx?.DocumentUploadedFileType?.length > 0 && galleryDocx?.DocumentUploadedFileType?.toLowerCase() === 'mp4') || ( galleryDocx?.FileContent?.length > 0 && galleryDocx?.FileContent[0]?.documentUploadedFileType?.toLowerCase() === 'mp4'))"
                              class="animated fadeIn" controls
                              [src]="(galleryDocx?.DocumentFile)? (baseExternalAssets + galleryDocx?.DocumentFile):galleryDocx?.FileContent[0]?.docUrl"
                              type="video/mp4"></video>
                            <img src="../../../../../assets/images/icons/icon_del_round.svg" alt="del"
                              class="pointer delete-icon" (click)="removeSelectedDocx(i, galleryDocx)" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-12">
                  <h5 class="mt-5">Property Location</h5>
                  <p class="sub-title sub-heading mb-0">Enter the exact address of the Property</p>
                  <hr class="hr-solid">
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <form autocomplete="off" novalidate [formGroup]="locationForm">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                          <label>City</label>
                          <div class="city-dropdown">
                            <div class="flag-container">
                              <img
                                *ngIf="locationForm.controls['city'].value && locationForm.controls['city'].value.imageName"
                                src="{{'../../../../../assets/images/flags/4x3/' + (locationForm.controls['city'].value.imageName | lowercase) + '.svg'}}"
                                type="image/svg+xml">
                            </div>
                            <input type="text" #city (keypress)="oneSpaceHandler($event)" class="form-control"
                              [ngClass]="{
                              'routeSelected': locationForm.value.city && locationForm.value.city.id,
                              'inputError': cityError && (locationForm.controls['city'].errors || cityValidation)
                                }" maxlength="100" formControlName="city" (focusout)="errorValidate()"
                              (focus)="cityValidation = undefined ; cityError=false" [ngbTypeahead]="searchCity"
                              [resultTemplate]="st" [inputFormatter]="formatterCity" placeholder="Enter City">
                            <ng-template #st let-r="result">
                              <div class="flag-container mr-1">
                                <img
                                  src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}">
                              </div>
                              <ngb-highlight [result]="r.title"></ngb-highlight>
                            </ng-template>
                          </div>
                          <p class="inputError animated fadeIn" *ngIf="cityValidation">{{cityValidation}}</p>
                          <span *ngIf="!cityValidation && cityError">
                            <p class="inputError animated fadeIn"
                              *ngIf="locationForm.controls['city'].hasError('required') && (locationForm.controls.city.dirty || locationForm.controls.city.touched)">
                              {{requiredFields}}</p>
                            <p class="inputError animated fadeIn"
                              *ngIf="!locationForm.controls['city'].hasError('pattern') && locationForm.controls['city'].hasError('minlength') && (locationForm.controls.city.dirty || locationForm.controls.city.touched)">
                              City
                              should be minimum 5 characters</p>
                            <p class="inputError animated fadeIn"
                              *ngIf="!locationForm.controls['city'].hasError('pattern') && locationForm.controls['city'].hasError('maxlength') && (locationForm.controls.city.dirty || locationForm.controls.city.touched)">
                              City
                              should not exceed from 50 characters</p>
                            <p class="inputError animated fadeIn"
                              *ngIf="locationForm.controls['city'].hasError('pattern') && (locationForm.controls.city.dirty || locationForm.controls.city.touched)">
                              Please
                              enter valid information</p>
                          </span>
                          <!--  <p class="inputError animated fadeIn" *ngIf="citySelError">City should be select from dropdown</p> -->
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="form-group">
                          <label>Address</label>
                          <input cols="30" rows="3" #searchElement (keypress)="oneSpaceHandler($event)"
                            formControlName="address" class="form-control" [ngClass]="{
                              'inputError': addressError && locationForm.controls['address'].errors
                              }" (focusout)="errorValidate()" (focus)="addressError=false"
                            placeholder="Enter at a minimum, the street and town where the property is located." />
                          <span *ngIf="addressError">
                            <p class="inputError animated fadeIn"
                              *ngIf="locationForm.controls['address'].hasError('required') && (locationForm.controls.address.dirty || locationForm.controls.address.touched)">
                              {{requiredFields}}</p>
                            <p class="inputError animated fadeIn"
                              *ngIf="!locationForm.controls['address'].hasError('pattern') && locationForm.controls['address'].hasError('minlength') && (locationForm.controls.address.dirty || locationForm.controls.address.touched)">
                              Address
                              should be minimum 1 character</p>
                            <p class="inputError animated fadeIn"
                              *ngIf="!locationForm.controls['address'].hasError('pattern') && locationForm.controls['address'].hasError('maxlength') && (locationForm.controls.address.dirty || locationForm.controls.address.touched)">
                              Address
                              should not exceed from 200 characters</p>
                            <p class="inputError animated fadeIn"
                              *ngIf="locationForm.controls['address'].hasError('pattern') && (locationForm.controls.address.dirty || locationForm.controls.address.touched)">
                              Please
                              enter valid information</p>
                          </span>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>P.O Box</label>
                          <input type="text" (keypress)="oneSpaceHandler($event)" formControlName="poBox" maxlength="16"
                            class="form-control" [ngClass]="{
                            'inputError': poBoxError && locationForm.controls['poBox'].errors
                            }" (focusout)="errorValidate()" (focus)="poBoxError=false">
                          <span *ngIf="poBoxError">
                            <p class="inputError animated fadeIn"
                              *ngIf="locationForm.controls['poBox'].hasError('required') && (locationForm.controls.poBox.dirty || locationForm.controls.poBox.touched)">
                              {{requiredFields}}</p>
                            <p class="inputError animated fadeIn"
                              *ngIf="locationForm.controls['poBox'].hasError('minlength') && (locationForm.controls.poBox.dirty || locationForm.controls.poBox.touched)">
                              PO address should be minimum 4 characters</p>
                            <p class="inputError animated fadeIn"
                              *ngIf="locationForm.controls['poBox'].hasError('maxlength') && (locationForm.controls.poBox.dirty || locationForm.controls.poBox.touched)">
                              PO address should not exceed from 16 characters</p>
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 map">
                  <agm-map [zoom]="zoomlevel" [latitude]="location.lat" [longitude]="location.lng">
                    <agm-marker [latitude]="location.lat" [longitude]="location.lng" [markerDraggable]="draggable"
                      (dragEnd)="markerDragEnd($event)">
                    </agm-marker>
                  </agm-map>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12">
                  <h5 class="mt-5">Property Details</h5>
                  <p class="sub-title sub-heading mb-0">Provide more information about your property thatis useful for
                    finding a match</p>
                  <hr class="hr-solid">
                </div>
              </div>
              <div class="row">
                <div class=" col-xl-6 col-md-6 col-sm-12 ">
                  <div class="form-group">
                    <label>Property Type</label>
                    <div class="fancyOptionBoxes pull-left mb-3 mr-3"
                      *ngFor="let type of warehouseUsageType; let i = index">
                      <input id="{{i+1}}"
                        [checked]="(type.codeValDesc == 'Full Warehouse' && warehouseTypeFull) || (type.codeValDesc != 'Full Warehouse' && !warehouseTypeFull)"
                        name="warehouseType" [disabled]="disableWarehouseSelection" (change)="changeWarehouseType()" type="radio">
                      <label for="{{i+1}}">
                        <span></span>
                        {{type.codeValDesc}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <form autocomplete="off" novalidate [formGroup]="propertyDetailForm">
                <div class="row ">
                  <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label class="form-group-label">Total warehouse Space
                        <span class="sub-title sub-heading w-100 d-inline-block">
                          Estimate total warehouse space excluding any office area.
                        </span>
                      </label>

                      <div class="input-group">
                        <input class="form-control input-dropdown" (keypress)="numberValid($event)" [ngClass]="{
                          'inputError': warehouseSpaceError && (propertyDetailForm.controls['warehouseSpace'].errors)
                          }" (focusout)="errorValidate(); spaceValidate()" (focus)="warehouseSpaceError=false"
                          type="text" formControlName="warehouseSpace">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <select class="form-control input-dropdown" *ngIf="!warehouseTypeFull"
                              formControlName="warehouseSpaceUnit"
                              (change)="selectedspaceUnit(propertyDetailForm.controls['warehouseSpaceUnit'].value)">
                              <option [value]="unit.codeVal" *ngFor="let unit of units">{{unit.codeValDesc}}
                              </option>
                            </select>
                            <span class="pl-3 pr-3 pt-2 pb-2" *ngIf="warehouseTypeFull">sqft</span>
                          </div>
                        </div>
                      </div>
                      <span *ngIf="warehouseSpaceError">
                        <p class="inputError animated fadeIn"
                          *ngIf="propertyDetailForm.controls['warehouseSpace'].hasError('required') && (propertyDetailForm.controls.warehouseSpace.dirty || propertyDetailForm.controls.warehouseSpace.touched)">
                          {{requiredFields}}</p>
                        <p class="inputError animated fadeIn"
                          *ngIf="!propertyDetailForm.controls['warehouseSpace'].hasError('pattern') && propertyDetailForm.controls['warehouseSpace'].hasError('min') && (propertyDetailForm.controls.warehouseSpace.dirty || propertyDetailForm.controls.warehouseSpace.touched)">
                          Range
                          1 to 10,000,000</p>
                        <p class="inputError animated fadeIn"
                          *ngIf="!propertyDetailForm.controls['warehouseSpace'].hasError('pattern') && propertyDetailForm.controls['warehouseSpace'].hasError('max') && (propertyDetailForm.controls.warehouseSpace.dirty || propertyDetailForm.controls.warehouseSpace.touched)">
                          Range
                          1 to 10,000,000</p>
                        <p class="inputError animated fadeIn"
                          *ngIf="propertyDetailForm.controls['warehouseSpace'].hasError('pattern') && (propertyDetailForm.controls.warehouseSpace.dirty || propertyDetailForm.controls.warehouseSpace.touched)">
                          Please
                          enter valid information</p>
                      </span>
                    </div>
                  </div>
                </div>
                <section class="forShared animated fadeIn" *ngIf="!warehouseTypeFull">
                  <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label>Offered Space on HashMove</label>
                        <div class="input-group">
                          <input class="form-control input-dropdown" type="text" (keypress)="numberValid($event)"
                            [ngClass]="{
                          'inputError': hashmoveSpaceError && (propertyDetailForm.controls['hashmoveSpace'].errors || hashmovespaceMsg)
                          }" (focusout)="errorValidate(); spaceValidate()" (focus)="hashmoveSpaceError=false"
                            formControlName="hashmoveSpace">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="pl-3 pr-3 pt-2 pb-2">{{offeredHashmoveSpaceUnit}}</span>
                            </div>
                          </div>
                        </div>
                        <span *ngIf="hashmoveSpaceError">
                          <p class="inputError animated fadeIn"
                            *ngIf="propertyDetailForm.controls['hashmoveSpace'].hasError('required') && (propertyDetailForm.controls.hashmoveSpace.dirty || propertyDetailForm.controls.hashmoveSpace.touched)">
                            {{requiredFields}}</p>
                          <p class="inputError animated fadeIn"
                            *ngIf="!propertyDetailForm.controls['hashmoveSpace'].hasError('pattern') && propertyDetailForm.controls['hashmoveSpace'].hasError('min') && (propertyDetailForm.controls.hashmoveSpace.dirty || propertyDetailForm.controls.hashmoveSpace.touched)">
                            Range
                            1 to 10,000,000</p>
                          <p class="inputError animated fadeIn"
                            *ngIf="!propertyDetailForm.controls['hashmoveSpace'].hasError('pattern') && propertyDetailForm.controls['hashmoveSpace'].hasError('max') && (propertyDetailForm.controls.hashmoveSpace.dirty || propertyDetailForm.controls.hashmoveSpace.touched)">
                            Range
                            1 to 10,000,000</p>
                          <p class="inputError animated fadeIn"
                            *ngIf="propertyDetailForm.controls['hashmoveSpace'].hasError('pattern') && (propertyDetailForm.controls.hashmoveSpace.dirty || propertyDetailForm.controls.hashmoveSpace.touched)">
                            Please
                            enter valid information</p>
                          <p class="inputError animated fadeIn" [innerHTML]="hashmovespaceMsg"
                            *ngIf="!propertyDetailForm.controls['hashmoveSpace'].errors && hashmovespaceMsg"></p>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                      <div class="form-group">
                        <label class="form-group-label">Ceiling Height
                          <span class="sub-title sub-heading w-100 d-inline-block">Maximum Available height for
                            storage</span>
                        </label>
                        <div class="input-group">
                          <input type="text" [maxlength]="3" (keypress)="onKeypress2($event)" class="form-control input-dropdown"
                            formControlName="ceilingHeight" />
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="pl-3 pr-3 pt-2 pb-2">ft</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12">
                      <h5 class="mt-5">Minimum Requirement (optional)</h5>
                      <p class="sub-title sub-heading mb-0">Provide more information about your property thatis useful
                        for
                        finding a match</p>
                      <hr class="hr-solid">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <label class="form-group-label">Minimum Lease Space
                        <span class="sub-title sub-heading w-100 d-inline-block">
                          The minimum space that can be lend per booking</span>
                      </label>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-12">
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control input-dropdown" (keypress)="numberValid($event)" type="text"
                            [ngClass]="{
                              'inputError': minLeaseValueOneError && (propertyDetailForm.controls['minLeaseValueOne'].errors || leaseSpaceMsg)
                              }" (focusout)="errorValidate(); minLeaseSpaceValidate('sqft')"
                            (focus)="minLeaseValueOneError=false" formControlName="minLeaseValueOne">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="pl-3 pr-3 pt-2 pb-2">sqft</span>
                            </div>
                          </div>
                        </div>
                        <span *ngIf="minLeaseValueOneError">
                          <p class="inputError animated fadeIn"
                            *ngIf="propertyDetailForm.controls['minLeaseValueOne'].hasError('required') && (propertyDetailForm.controls.minLeaseValueOne.dirty || propertyDetailForm.controls.minLeaseValueOne.touched)">
                            {{requiredFields}}</p>
                          <p class="inputError animated fadeIn"
                            *ngIf="!propertyDetailForm.controls['minLeaseValueOne'].hasError('pattern') && propertyDetailForm.controls['minLeaseValueOne'].hasError('minlength') && (propertyDetailForm.controls.minLeaseValueOne.dirty || propertyDetailForm.controls.minLeaseValueOne.touched)">
                            Range
                            1 to 10,000,000</p>
                          <p class="inputError animated fadeIn"
                            *ngIf="!propertyDetailForm.controls['minLeaseValueOne'].hasError('pattern') && propertyDetailForm.controls['minLeaseValueOne'].hasError('maxlength') && (propertyDetailForm.controls.minLeaseValueOne.dirty || propertyDetailForm.controls.minLeaseValueOne.touched)">
                            Range
                            1 to 10,000,000</p>
                          <p class="inputError animated fadeIn"
                            *ngIf="propertyDetailForm.controls['minLeaseValueOne'].hasError('pattern') && (propertyDetailForm.controls.minLeaseValueOne.dirty || propertyDetailForm.controls.minLeaseValueOne.touched)">
                            Please
                            enter valid information</p>
                          <p class="inputError animated fadeIn" [innerHTML]="leaseSpaceMsg"
                            *ngIf="!propertyDetailForm.controls['minLeaseValueOne'].errors && leaseSpaceMsg"></p>
                        </span>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-12">
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control input-dropdown" (keypress)="numberValid($event)" type="text"
                            [ngClass]="{
                            'inputError': minLeaseValueTwoError && (propertyDetailForm.controls['minLeaseValueTwo'].errors || leaseSpaceMsg)
                            }" (focusout)="errorValidate(); minLeaseSpaceValidate('cbm')"
                            (focus)="minLeaseValueTwoError=false" formControlName="minLeaseValueTwo">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="pl-3 pr-3 pt-2 pb-2">cbm</span>
                            </div>
                          </div>
                        </div>
                        <span *ngIf="minLeaseValueTwoError">
                          <p class="inputError animated fadeIn"
                            *ngIf="propertyDetailForm.controls['minLeaseValueTwo'].hasError('required') && (propertyDetailForm.controls.minLeaseValueTwo.dirty || propertyDetailForm.controls.minLeaseValueTwo.touched)">
                            {{requiredFields}}</p>
                          <p class="inputError animated fadeIn"
                            *ngIf="!propertyDetailForm.controls['minLeaseValueTwo'].hasError('pattern') && propertyDetailForm.controls['minLeaseValueTwo'].hasError('minlength') && (propertyDetailForm.controls.minLeaseValueTwo.dirty || propertyDetailForm.controls.minLeaseValueTwo.touched)">
                            Range
                            1 to 10,000,000</p>
                          <p class="inputError animated fadeIn"
                            *ngIf="!propertyDetailForm.controls['minLeaseValueTwo'].hasError('pattern') && propertyDetailForm.controls['minLeaseValueTwo'].hasError('maxlength') && (propertyDetailForm.controls.minLeaseValueTwo.dirty || propertyDetailForm.controls.minLeaseValueTwo.touched)">
                            Range
                            1 to 10,000,000</p>
                          <p class="inputError animated fadeIn"
                            *ngIf="propertyDetailForm.controls['minLeaseValueTwo'].hasError('pattern') && (propertyDetailForm.controls.minLeaseValueTwo.dirty || propertyDetailForm.controls.minLeaseValueTwo.touched)">
                            Please
                            enter valid information</p>
                          <p class="inputError animated fadeIn" [innerHTML]="leaseSpaceMsg"
                            *ngIf="!propertyDetailForm.controls['minLeaseValueTwo'].errors && leaseSpaceMsg"></p>

                        </span>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-3 col-sm-12">
                      <div class="form-group">
                        <div class="input-group">
                          <input class="form-control input-dropdown" (keypress)="numberValid($event)" type="text"
                            [ngClass]="{
                            'inputError': minLeaseValueThreeError && (propertyDetailForm.controls['minLeaseValueThree'].errors || leaseSpaceMsg)
                            }" (focusout)="errorValidate(); minLeaseSpaceValidate('pallet')"
                            (focus)="minLeaseValueThreeError=false" formControlName="minLeaseValueThree">
                          <div class="input-group-append">
                            <div class="input-group-text">
                              <span class="pl-3 pr-3 pt-2 pb-2">pallet</span>
                            </div>
                          </div>
                        </div>
                        <span *ngIf="minLeaseValueThreeError">
                          <p class="inputError animated fadeIn"
                            *ngIf="propertyDetailForm.controls['minLeaseValueThree'].hasError('required') && (propertyDetailForm.controls.minLeaseValueThree.dirty || propertyDetailForm.controls.minLeaseValueThree.touched)">
                            {{requiredFields}}</p>
                          <p class="inputError animated fadeIn"
                            *ngIf="!propertyDetailForm.controls['minLeaseValueThree'].hasError('pattern') && propertyDetailForm.controls['minLeaseValueThree'].hasError('minlength') && (propertyDetailForm.controls.minLeaseValueThree.dirty || propertyDetailForm.controls.minLeaseValueThree.touched)">
                            Minimum 1 pallet is required</p>
                          <p class="inputError animated fadeIn"
                            *ngIf="!propertyDetailForm.controls['minLeaseValueThree'].hasError('pattern') && propertyDetailForm.controls['minLeaseValueThree'].hasError('maxlength') && (propertyDetailForm.controls.minLeaseValueThree.dirty || propertyDetailForm.controls.minLeaseValueThree.touched)">
                            Minimum 1 pallet is required</p>
                          <p class="inputError animated fadeIn"
                            *ngIf="propertyDetailForm.controls['minLeaseValueThree'].hasError('pattern') && (propertyDetailForm.controls.minLeaseValueThree.dirty || propertyDetailForm.controls.minLeaseValueThree.touched)">
                            Please
                            enter valid information</p>
                          <p class="inputError animated fadeIn" [innerHTML]="leaseSpaceMsg"
                            *ngIf="!propertyDetailForm.controls['minLeaseValueThree'].errors && leaseSpaceMsg"></p>
                        </span>
                      </div>
                    </div>
                  </div>
                </section>
              </form>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12">
                  <div class="form-group">
                    <label class="form-group-label">Minimum Lease term
                      <span class="sub-title sub-heading w-100 d-inline-block">
                        The shortest term that this property can be rented for
                      </span>
                    </label>
                  </div>
                  <div class="fancyOptionBoxes pull-left mr-4 mb-3" *ngFor="let obj of leaseTerm; let i = index"
                    (click)="addMinimumLeaseTerm(obj)">
                    <input id="{{i+1}}rentedtime" name="leaseTerm" type="radio"
                      [checked]="obj.codeVal == warehouseDetail?.MinLeaseTermValue && obj.codeValShortDesc == warehouseDetail?.MinLeaseTermUnit">
                    <label for="{{i+1}}rentedtime">
                      <span></span>
                      {{obj.codeValDesc}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 class="mt-5">Other Amenities</h5>
              <hr class="hr-solid">
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 mt-3">
              <div class="form-group">
                <div class="fancyOptionBoxes warehousing-services mb-3" *ngFor="let obj of facilities">
                  <input id="{{obj.FacilitiesTypeTitle}}" [checked]="obj.IsAllowed" name="facilities" type="checkbox"
                    (change)="addFacilities(obj, $event)">
                  <label for="{{obj.FacilitiesTypeTitle}}">
                    <span></span>
                    {{obj.FacilitiesTypeTitle}}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 d-flex justify-content-end mb-3">
              <button class="btn btn-primary hvr-sweep-to-right text-uppercase pl-4 pr-4 pt-2 pb-2 mb-2"
                [disabled]="generalForm.invalid || !uploadedGalleries.length || locationForm.invalid ||
                propertyDetailForm.invalid || hashmovespaceMsg || !selectedMiniLeaseTerm || cityValidation || leaseSpaceMsg" (click)="addwareHouse()"> {{addPricingButtonText}} </button>
              <button class="btn btn-primary hvr-sweep-to-right ml-2 text-uppercase pl-5 pr-5 pt-2 pb-2 mb-2 disable"
                (click)="cancelWarehouse()">
                cancel
              </button>

            </div>
          </div>

        </div>
        <!--  warehouse-info -->
      </section>
    </ngx-step>
    <ngx-step [label]="'SET PRICING'">
      <section class="Add-warehouse Allfreights">
        <section class="commisionRates mt-3" *ngIf="isRealEstate">
          <div class="row commission-rates">
            <div class="col-12">
              <h5>Commission</h5>
              <hr class="hr-solid">
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-3">
              <div class="form-group d-flex">
                <div class="fancyOptionBoxes">
                  <input id="fixedamount" name="commission" type="radio" [checked]="fixedAmount"
                    (change)=" fixedAmountToggler()">
                  <label for="fixedamount">
                    <span></span>
                    Fixed Amount per booking
                  </label>
                </div>
                <div class="fancyOptionBoxes ml-4">
                  <input id="perbooking" name="commission" type="radio" [checked]="!fixedAmount"
                    (change)="fixedAmountToggler()">
                  <label for="perbooking">
                    <span></span>
                    Fixed percentage per booking
                  </label>
                </div>
              </div>
            </div>
          </div>

          <form autocomplete="off" novalidate [formGroup]="commissionForm">
            <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12 animated fadeIn" *ngIf="!fixedAmount">
                <div class="form-group mt-3">
                  <label>Per Booking</label>
                  <input type="text" class="form-control pr-4" formControlName="percentValue" [ngClass]="{
                                      'inputError': percentValueError && commissionForm.controls['percentValue'].errors
                                      }" (focusout)="errorValidate()" (focus)="percentValueError=false"
                    (keypress)="numberValidwithDecimal($event)" placeholder="0">
                  <span class="percent-sign">%</span>
                  <span *ngIf="percentValueError">
                    <p class="inputError animated fadeIn"
                      *ngIf="commissionForm.controls['percentValue'].hasError('required') && (commissionForm.controls.percentValue.dirty || commissionForm.controls.percentValue.touched)">
                      {{requiredFields}}</p>
                    <p class="inputError animated fadeIn"
                      *ngIf="!commissionForm.controls['percentValue'].hasError('pattern') && commissionForm.controls['percentValue'].hasError('minlength') && (commissionForm.controls.percentValue.dirty || commissionForm.controls.percentValue.touched)">
                      Range
                      1 to 10,000,000</p>
                    <p class="inputError animated fadeIn"
                      *ngIf="!commissionForm.controls['percentValue'].hasError('pattern') && commissionForm.controls['percentValue'].hasError('maxlength') && (commissionForm.controls.percentValue.dirty || commissionForm.controls.percentValue.touched)">
                      Range
                      1 to 10,000,000</p>
                    <p class="inputError animated fadeIn"
                      *ngIf="commissionForm.controls['percentValue'].hasError('pattern') && (commissionForm.controls.percentValue.dirty || commissionForm.controls.percentValue.touched)">
                      Please
                      enter valid information</p>
                  </span>
                </div>
              </div>

              <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 col-12">
                <div class="form-group mt-3">
                  <label for="inputState">
                    <span *ngIf="fixedAmount; else other">
                      Commission
                    </span>
                    <ng-template #other>
                      Minimum Commission
                    </ng-template>
                  </label>
                  <div class="input-group">
                    <div class="input-group-prepend col-4 p-0">
                      <div class="input-group-text">
                        <div class="city-dropdown currency">
                          <div class="flag-container"
                            *ngIf="commissionForm.value.commissionCurrency && commissionForm.value.commissionCurrency.imageName">
                            <img
                              src="{{'../../../../../assets/images/flags/4x3/' + (commissionForm.value.commissionCurrency.imageName | lowercase) + '.svg'}}"
                              type="image/svg+xml">
                          </div>
                          <input type="text" formControlName="commissionCurrency" (keypress)="spaceHandler($event)"
                            [ngClass]="{'routeSelected': commissionForm.value.commissionCurrency && commissionForm.value.commissionCurrency.imageName}"
                            class="form-control" maxlength="5" [ngbTypeahead]="currency" [resultTemplate]="cur"
                            [inputFormatter]="formatterCurrency" placeholder="eg: AED">
                          <ng-template #cur let-r="result">
                            <div class="flag-container mr-1">
                              <img
                                src="{{'../../../../assets/images/flags/4x3/' + (r.imageName | lowercase) + '.svg'}}">
                            </div>
                            <ngb-highlight [result]="r.shortName"></ngb-highlight>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                    <input type="text" formControlName="commissionValue" class="form-control" [ngClass]="{
                                    'inputError': commissionValueError && commissionForm.controls['commissionValue'].errors
                                    }" (focusout)="errorValidate()" (focus)="commissionValueError=false"
                      (keypress)="numberValidwithDecimal($event)" placeholder="0.00">
                  </div>
                  <span *ngIf="commissionValueError">
                    <p class="inputError animated fadeIn"
                      *ngIf="commissionForm.controls['commissionValue'].hasError('required') && (commissionForm.controls.commissionValue.dirty || commissionForm.controls.commissionValue.touched)">
                      {{requiredFields}}</p>
                    <p class="inputError animated fadeIn"
                      *ngIf="!commissionForm.controls['commissionValue'].hasError('pattern') && commissionForm.controls['commissionValue'].hasError('minlength') && (commissionForm.controls.commissionValue.dirty || commissionForm.controls.commissionValue.touched)">
                      Range
                      1 to 10,000,000</p>
                    <p class="inputError animated fadeIn"
                      *ngIf="!commissionForm.controls['commissionValue'].hasError('pattern') && commissionForm.controls['commissionValue'].hasError('maxlength') && (commissionForm.controls.commissionValue.dirty || commissionForm.controls.commissionValue.touched)">
                      Range
                      1 to 10,000,000</p>
                    <p class="inputError animated fadeIn"
                      *ngIf="commissionForm.controls['commissionValue'].hasError('pattern') && (commissionForm.controls.commissionValue.dirty || commissionForm.controls.commissionValue.touched)">
                      Please
                      enter valid information</p>
                  </span>
                </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-12 mt-5 animated fadeIn d-flex align-items-center">
                <button class="btn btn-outline-primary btn-lg hvr-sweep-to-right" [disabled]="commissionForm.invalid"
                  (click)="updateComission()">
                  Update Commission
                </button>
              </div>
            </div>
          </form>
        </section>

        <section class="Add-warehouse-rates mt-3 rates-grid mb-5">
          <h5 class="mt-5">Set Pricing</h5>
          <p class="sub-title mt-2 mb-2">you can add multiple rates for different dates / months </p>
          <div class="row mb-3 justify-content-end" *ngIf="warehousePublishedRates">
            <div class="col-6 d-flex justify-content-start rate-dur">
              <img src="../../../../../../assets/images/icons/Icons_Clock-2hour.svg" alt="del_icon"
                class="icon-size-24 mr-2" /> All Pending Rates will be published within 30-60 minutes
            </div>
            <div class="col-6 d-flex justify-content-end">
              <a href="javascript:;" class="rate-validate mr-5" (click)="rateValidity('warehouse')"
                [ngClass]="{ 'no-drop': !delPublishRates.length }">
                <!-- <img src="../../../../../../assets/images/icons/Icons_Calendar-Secondary.svg" alt="del_icon" class="icon-size-16" /> -->
                <svg class="edit-validity-icon icon-size-16 mr-2" id="17f5b310-5508-485b-8001-dbaf3458113b"
                  data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <defs>
                    <style>
                      .be7dd154-90ee-45f6-a47e-11a6c4eceb87 {
                        fill: #02bdb6;
                      }

                      .dd12900e-6340-4a89-b921-0b1d5cffc735 {
                        fill: #fff;
                      }
                    </style>
                  </defs>
                  <title>icon</title>
                  <g id="40ee8fd5-e28d-4347-b10e-66f9984b7564" data-name="calendar2">
                    <path id="6d9cbed9-97a5-4544-9814-99b685f0d436" data-name="&lt;Compound Path&gt;"
                      class="be7dd154-90ee-45f6-a47e-11a6c4eceb87"
                      d="M15,2H3.8A2.8,2.8,0,0,0,1,4.8V16H12.2A2.8,2.8,0,0,0,15,13.2V2Z" />
                    <path class="dd12900e-6340-4a89-b921-0b1d5cffc735"
                      d="M4,4h9a0,0,0,0,1,0,0v6a0,0,0,0,1,0,0H3a0,0,0,0,1,0,0V5A1,1,0,0,1,4,4Z" />
                    <rect id="7d4ed2c6-f916-40cf-acce-d794196da080" data-name="&lt;Path&gt;"
                      class="be7dd154-90ee-45f6-a47e-11a6c4eceb87" x="5" width="2" height="5" />
                    <rect id="a37c2eb5-9844-41fa-8d51-9b1b7c64de14" data-name="&lt;Path&gt;"
                      class="be7dd154-90ee-45f6-a47e-11a6c4eceb87" x="9" width="2" height="5" />
                  </g>
                </svg>
                Edit Rate / Validity
              </a>
              <a href="javascript:;" class="grid-delete" (click)="delPublishedRecord('WAREHOUSE')"
                [ngClass]="{ 'no-drop': !delPublishRates.length }">
                <!-- <img src="../../../../../../assets/images/icons/icon_delete_red.svg" alt="del_icon" class="icon-size-16" /> -->
                <svg class="delete-icon icon-size-16 mr-2" id="317c8c47-17e2-4e96-9063-97bc9a32118b" data-name="Layer 1"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                  <defs>
                    <style>
                      .a2933809-f108-463d-a7d6-9972aa735edc {
                        fill: #d32020;
                      }
                    </style>
                  </defs>
                  <title>icon</title>
                  <g id="9ddd7984-9517-4e7f-881d-6292000e8e8a" data-name="delete">
                    <rect class="a2933809-f108-463d-a7d6-9972aa735edc" y="2" width="16" height="2" />
                    <rect class="a2933809-f108-463d-a7d6-9972aa735edc" x="5" width="6" height="2" />
                    <path class="a2933809-f108-463d-a7d6-9972aa735edc"
                      d="M2,5v9a2,2,0,0,0,2,2h8a2,2,0,0,0,2-2V5Zm5,9H5V7H7Zm4,0H9V7h2Z" />
                  </g>
                </svg>
                Delete
              </a>
            </div>
          </div>
          <app-ui-table *ngIf="warehousePublishedRates?.length > 0" [tableType]="'publishFCL'"
            [tableData]="warehousePublishedRates" (checkedRows)="tableCheckedRows($event)"
            (sorting)="sortedFilters('warehouse', $event)" (pageEvent)="paging($event)"
            [totalRecords]="totalPublishedRecords" [containerLoad]="'WAREHOUSE'" [transMode]="'WAREHOUSE'"
            [incomingPage]="pageNo">
          </app-ui-table>
          <button *ngIf="!warehousePublishedRates" class="btn btn-outline-primary btn-lg hvr-sweep-to-right mr-2"
            (click)="addWarehouseRate(whID)">
            Click to add rate
          </button>
          <a href="javascript:;" class="addAnother animated fadeIn" *ngIf="warehousePublishedRates"
            [ngClass]="totalPublishedRecords > 5 ? 'withScroll' : ''" (click)="addWarehouseRate(whID)">
            <img src="../../../../../../assets/images/icons/icon_add.svg" width="16px" alt="">
            Add another rate
          </a>
        </section>
        <!-- <div class="row" [ngClass]="totalPublishedRecords <= 5 ? 'mt-5' : ''">
          <div class="col-6 Add-warehouse-link mt-3" (click)="stepper.prev()">
            <a class="hvr-icon-back grey-anc-btn" href="javascript:;">
              <img src="../../../../../assets/images/icons/icon_arrow_left.svg" alt="icon"
                class="icon-size-14 hvr-icon">
              <span class="link-hover-grey">go back </span>
            </a>
          </div>

          <div class="col-6 mt-3">
            <button class="btn btn-primary btn-register hvr-sweep-to-right pull-right">
              save rates</button>
          </div>
        </div> -->
        <section class="term-cond">
          <div class="row">
            <div class="col-12">
              <hr class="hr-solid mt-4" />
              <div class="policyEditor mb-4 mt-4 d-flex justify-content-between align-items-center">
                <h5 class="add-rate-head">Terms & Conditions</h5>
                <button *ngIf="disableEditor" class="btn btn-primary btn-lg hvr-sweep-to-right pull-right pr-5 pl-5"
                  (click)="disableEditor = !disableEditor">
                  EDIT
                </button>
              </div>
              <div class="form-group" *ngIf="!disableEditor && disableEditor != undefined">
                <quill-editor [(ngModel)]="editorContent" [options]="editorOptions" (change)="onContentChanged($event)">
                </quill-editor>
              </div>
              <div *ngIf="disableEditor" class="editor" [innerHTML]="editorContent">
              </div>
              <button *ngIf="!disableEditor" class="btn btn-primary btn-lg hvr-sweep-to-right pull-right pr-5 pl-5 mt-4"
                type="button" [disabled]="isEmpty(editorContent)" (click)="saveTermNcond()">
                SAVE
              </button>
            </div>
          </div>
        </section>
      </section>
    </ngx-step>
  </ngx-stepper>
</section>
