<div class="provider-modal animated fadeIn">
  <div class="modal-header">
    <h4 class="provider-modal-title">Discard Draft</h4>
    <a class="pointer crossIcon" (click)="closeModal(null)">
      <img src="../../../../assets/images/icons/icon_close.svg" alt="close" class="icon-size-16">
    </a>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <p>Are you sure, you want to discard<br /><strong class="text-danger">{{deleteIds?.data.length}} </strong><span *ngIf="deleteIds?.data.length > 1; else otherTemp">records?</span><ng-template #otherTemp>record?</ng-template> </p>
      <button class="btn btn-primary btn-lg hvr-sweep-to-right" (click)="delete()">YES, I AM SURE</button>
    </div>
  </div>
</div>