<footer id="footer">
    <div class="container">
      <div class="row link-Section">
        <div class="col-md-4 info-links">
          <img src="../../../assets/images/icons/user_icon.svg" alt="user_icon">
          <!-- Over 2,000+ Suppliers in the Logistics Industry -->
          Connecting Shippers and Providers in the logistics industry
        </div>
        <div class="col-md-4 info-links">
          <img src="../../../assets/images/icons/gear_icon.svg" alt="gear_icon">
          Best Pricing and Rates in the Industry
        </div>
        <div class="col-md-4 info-links">
          <img src="../../../assets/images/icons/shield.png" alt="shield_icon"> Fast, Reliable, Secure and Easy Booking Engine
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex flex-md-row justify-content-center flex-column copyRights-Section">
          <span>
          <i class="fa fa-copyright"></i> 2019 HashMove. All rights reserved.
          </span>
          <span>
            <a [href]="_footerDetail?.HMTermsURL" target="_black" class="link-hover">Terms</a>
            <span>|</span>
            <a [href]="_footerDetail?.HMPrivacyURL" target="_black" class="privacy link-hover">Privacy</a>
          </span>
        </div>
      </div>
    </div>
  </footer>